@font-face {
    font-family: 'EB Garamond 12';
    src: url('EBGaramond12-Regular.eot');
    src: local('EB Garamond 12 Regular'), local('EBGaramond12-Regular'),
        url('EBGaramond12-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond12-Regular.html') format('woff2'),
        url('EBGaramond12-Regular.woff') format('woff'),
        url('EBGaramond12-Regular-2.html') format('truetype'),
        url('EBGaramond12-Regular.svg#EBGaramond12-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond 08';
    src: url('https://www.natuzzi.us/promotions/font/EBGaramond08-Italic.eot');
    src: local('EB Garamond 08 Italic'), local('EBGaramond08-Italic'),
        url('https://www.natuzzi.us/promotions/font/EBGaramond08-Italic.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond08-Italic.html') format('woff2'),
        url('EBGaramond08-Italic.woff') format('woff'),
        url('EBGaramond08-Italic-2.html') format('truetype'),
        url('EBGaramond08-Italic.svg#EBGaramond08-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond 08';
    src: url('EBGaramond08-Regular.eot');
    src: local('EB Garamond 08 Regular'), local('EBGaramond08-Regular'),
        url('EBGaramond08-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond08-Regular.html') format('woff2'),
        url('EBGaramond08-Regular.woff') format('woff'),
        url('https://www.natuzzi.us/promotions/font/EBGaramond08-Regular.ttf') format('truetype'),
        url('https://www.natuzzi.us/promotions/font/EBGaramond08-Regular.svg#EBGaramond08-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond SC 08';
    src: url('EBGaramondSC08-Regular.eot');
    src: local('EB Garamond SmallCaps 08 Regular'), local('EBGaramondSC08-Regular'),
        url('EBGaramondSC08-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('EBGaramondSC08-Regular.html') format('woff2'),
        url('EBGaramondSC08-Regular.woff') format('woff'),
        url('EBGaramondSC08-Regular-2.html') format('truetype'),
        url('EBGaramondSC08-Regular.svg#EBGaramondSC08-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond 12';
    src: url('EBGaramond12-Italic.eot');
    src: local('EB Garamond 12 Italic'), local('EBGaramond12-Italic'),
        url('EBGaramond12-Italicd41d.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond12-Italic.html') format('woff2'),
        url('EBGaramond12-Italic.woff') format('woff'),
        url('EBGaramond12-Italic-2.html') format('truetype'),
        url('EBGaramond12-Italic.svg#EBGaramond12-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond 12 All SC';
    src: url('EBGaramond12-AllSC.eot');
    src: local('EB Garamond 12 Regular All SmallCaps'), local('EBGaramond12-AllSC'),
        url('EBGaramond12-AllSCd41d.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond12-AllSC.html') format('woff2'),
        url('EBGaramond12-AllSC.woff') format('woff'),
        url('EBGaramond12-AllSC-2.html') format('truetype'),
        url('EBGaramond12-AllSC.svg#EBGaramond12-AllSC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond SC 12';
    src: url('EBGaramondSC12-Regular.eot');
    src: local('EB Garamond SmallCaps 12 Regular'), local('EBGaramondSC12-Regular'),
        url('EBGaramondSC12-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('EBGaramondSC12-Regular.html') format('woff2'),
        url('EBGaramondSC12-Regular.woff') format('woff'),
        url('EBGaramondSC12-Regular-2.html') format('truetype'),
        url('EBGaramondSC12-Regular.svg#EBGaramondSC12-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
        url('ProximaNova-Semiboldd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Semibold.html') format('woff2'),
        url('ProximaNova-Semibold.woff') format('woff'),
        url('ProximaNova-Semibold-2.html') format('truetype'),
        url('ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-Light.eot');
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
        url('ProximaNova-Lightd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Light.html') format('woff2'),
        url('ProximaNova-Light.woff') format('woff'),
        url('ProximaNova-Light-2.html') format('truetype'),
        url('ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-ExtrabldIt.eot');
    src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
        url('ProximaNova-ExtrabldItd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-ExtrabldIt.html') format('woff2'),
        url('ProximaNova-ExtrabldIt.woff') format('woff'),
        url('ProximaNova-ExtrabldIt-2.html') format('truetype'),
        url('ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-BoldIt.eot');
    src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
        url('ProximaNova-BoldItd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-BoldIt.html') format('woff2'),
        url('ProximaNova-BoldIt.woff') format('woff'),
        url('ProximaNova-BoldIt-2.html') format('truetype'),
        url('ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-ThinIt.eot');
    src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
        url('ProximaNova-ThinItd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-ThinIt.html') format('woff2'),
        url('ProximaNova-ThinIt.woff') format('woff'),
        url('ProximaNova-ThinIt-2.html') format('truetype'),
        url('ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-LightIt.eot');
    src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
        url('ProximaNova-LightItd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-LightIt.html') format('woff2'),
        url('ProximaNova-LightIt.woff') format('woff'),
        url('ProximaNova-LightIt-2.html') format('truetype'),
        url('ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova-BlackIt.eot');
    src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
        url('ProximaNova-BlackItd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-BlackIt.html') format('woff2'),
        url('ProximaNova-BlackIt.woff') format('woff'),
        url('ProximaNova-BlackIt-2.html') format('truetype'),
        url('ProximaNova-BlackIt.svg#ProximaNova-BlackIt') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-SemiboldIt.eot');
    src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
        url('ProximaNova-SemiboldItd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-SemiboldIt.html') format('woff2'),
        url('ProximaNova-SemiboldIt.woff') format('woff'),
        url('ProximaNova-SemiboldIt-2.html') format('truetype'),
        url('ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        url('ProximaNova-Boldd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Bold.html') format('woff2'),
        url('ProximaNova-Bold.woff') format('woff'),
        url('ProximaNova-Bold-2.html') format('truetype'),
        url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNovaT-Thin.eot');
    src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
        url('ProximaNovaT-Thind41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaT-Thin.html') format('woff2'),
        url('ProximaNovaT-Thin.woff') format('woff'),
        url('ProximaNovaT-Thin-2.html') format('truetype'),
        url('ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('ProximaNova-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Regular.html') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff'),
        url('ProximaNova-Regular-2.html') format('truetype'),
        url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('ProximaNovaA-Regular.eot');
    src: local('Proxima Nova Alt Regular'), local('ProximaNovaA-Regular'),
        url('ProximaNovaA-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Regular.html') format('woff2'),
        url('ProximaNovaA-Regular.woff') format('woff'),
        url('ProximaNovaA-Regular-2.html') format('truetype'),
        url('ProximaNovaA-Regular.svg#ProximaNovaA-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-Extrabld.eot');
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
        url('ProximaNova-Extrabldd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Extrabld.html') format('woff2'),
        url('ProximaNova-Extrabld.woff') format('woff'),
        url('ProximaNova-Extrabld-2.html') format('truetype'),
        url('ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova-Black.eot');
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
        url('ProximaNova-Blackd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Black.html') format('woff2'),
        url('ProximaNova-Black.woff') format('woff'),
        url('ProximaNova-Black-2.html') format('truetype'),
        url('ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-RegularIt.eot');
    src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
        url('ProximaNova-RegularItd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-RegularIt.html') format('woff2'),
        url('ProximaNova-RegularIt.woff') format('woff'),
        url('ProximaNova-RegularIt-2.html') format('truetype'),
        url('ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('ProximaNovaA-Bold.eot');
    src: local('Proxima Nova Alt Bold'), local('ProximaNovaA-Bold'),
        url('ProximaNovaA-Boldd41d.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Bold.html') format('woff2'),
        url('ProximaNovaA-Bold.woff') format('woff'),
        url('ProximaNovaA-Bold-2.html') format('truetype'),
        url('ProximaNovaA-Bold.svg#ProximaNovaA-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

