* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article,
aside,
blockquote,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display:block;
}
nav li a {
  display: block;
}