@import url("../font/stylesheet.css");

/*html {
  overflow-x: hidden;
}

body {
  font-family: 'Proxima Nova Rg', serif;
  overflow-x: hidden;
}

body.overflow {
  overflow: auto !important;
}*/

.natuzzi-promo  {
  font-family: 'Proxima Nova Rg', serif;
  overflow-x: hidden;
}

/* =============================================================================
   Headings
   ========================================================================== */

.natuzzi-promo  h2 {
  font-weight: 700;
}

/* =============================================================================
   Fullscreen version
   ========================================================================== */

.container-fluid.container-fluid-visual {
  padding: 0;
  overflow-y: hidden;
  height: 100vh
}

.main-visual-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}

.main-visual {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 1;
  height: 100%;
  background-position: center;
}

/* =============================================================================
   Logo
   ========================================================================== */

.natuzzi-promo .logo-center {
  top: 10%;
  right: 0;
  bottom: 0;
  margin: 30px auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  height: 400px;
}

/*.fade {*/
/*opacity: 0;*/
/*}*/

.natuzzi-promo .logo {

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22%;
}

.natuzzi-promo .logo-mobile {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

@media (min-width: 480px) {

  .logo-mobile {
    transform: translate(-50%, 0);
  }

}

/* =============================================================================
   Form Button
   ========================================================================== */

.button-form {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  font-weight: 400;
}

.button-form-footer-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  overflow: scroll;
}

.button-form-footer-mobile.collapsed {
  /*position: fixed;*/
}

.button-form-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  font-weight: 400;
  float: right;
}

.btn-form,
.btn-form-footer {
  background-color: #687d7a;
  /*padding: 0.675rem 14px 0.675rem 30px;*/
  padding: 10px 14px 10px 30px;
  border-color: #687d7a;
  font-size: 15px;
  border-radius: 0;
  letter-spacing: 2px;
  line-height: 30px;
}

.desktop-version .btn-form-containerfade,
.desktop-version .btn-form-footer {
  min-width: 577px;
}

.btn-form-submit {
  margin-top: 30px;
  color: #fff;
  border-radius: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */

.col-sm-bk-gr {
  background-color: #e4e4e4 !important;
  text-align: center;
  padding: 20px 0 10px 0;
  margin-bottom: -20px;
}

.col-sm-bk-gr p {

  color: #4e4e50;
  font-size: 25px;
  font-weight: bold;
}

.phone a:link,
.phone a:active,
.phone a:visited {
  margin-left: 5px;
  color: #4e4e50;
  text-decoration: none;
}

a.btn.btn-info.btn-form:hover {
  color: #fff !important;
  background-color: #687d7a;
  border-color: #687d7a;
}

i.fa.fa-angle-up,
i.fa.fa-angle-down {
  margin-left: 20px;
  font-size: 30px;
}

div#form_expand, div#form_expand_footer {
  top: 0;
  height: 100%;
  /*width: 572px;*/
  padding: 20px;
  background-color: #ffffff;
  color: #000;
}

form#form-search-mobile {
  margin-bottom: 50px;
}

#form-footer-mobile {

  top: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  color: #000;

}

#form_expand label, #form_expand_footer label, #form-footer-mobile label {
  color: #a8a8a8;
  font-size: 20px;
}

div#form_expand .form-control,
div#form_expand_mobile_footer .form-control,
div#form_expand_footer .form-control {
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

div#form_expand .form-input:focus, div#form_expand_footer .form-input:focus {
  box-shadow: 0 1px 0 0 #000;
}

.form-control.form-text-area {
  border-left: 1px solid #000 !important;
  border-bottom: transparent !important;
  border-left: 1px solid #000 !important;
  border-bottom: transparent !important;
  margin-top: 20px;
  color: #a8a8a8;
  font-size: 20px;
}

.form-input.filled {
  box-shadow: 0 1px 0 0 #000;
}

div#form_expand .form-control:focus, div#form_expand_footer .form-control:focus {
  color: #495057;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

input#privacy, input#comunicazioni, input#analisi {
  margin-top: 7px;
}

.form-check a {
  color: #a8a8a8;
  font-size: 14px;
}

.form-check a:hover {
  color: #a8a8a8;
  text-decoration: none;
}

.form-check input[type="checkbox"] {
  margin-top: 10px;
}

button.btn.btn-form.btn-form-submit.btn-form-submit-mobile {
  width: 100%;
  padding: 10px;
  border-radius: 0;
}

.form-stores label {
  color: #a8a8a8;
  font-size: 15px;
}

form.form-stores {
  margin: calc(5%) 0px;
}

.form-stores .col-auto.col-auto-cust {
  margin: calc(8%) calc(2%);
}

.form-stores .custom-select {
  border-top: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.form-stores .form-control {
  border-top: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 23px;
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #999;
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #999;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  letter-spacing: 1px;
}

#form_expand_mobile .focused .form-label,
#form_expand_mobile_footer .focused .form-label,
#form_expand .focused .form-label,
#form_expand_footer .focused .form-label {
  transform: translateY(-85%);
  font-size: 10px;
  text-transform: uppercase;
}

div#form_expand_mobile .form-input,
div#form_expand_mobile_footer .form-input,
div#form_expand .form-input,
div#form_expand_footer .form-input {
  position: relative;
  padding: 20px 0 5px 0;
  width: 100%;
  outline: 0;
  transition: box-shadow 150ms ease-out;
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-family: 'EB Garamond 12', serif;
  font-style: italic;
  font-size: 20px;
}

/* =============================================================================
   Form Errors
   ========================================================================== */

.form-group.error .form-input {
  border-color: red !important;
}

.form-group.error .form-label {
  color: red !important;
}

.form-check.error .form-check-label a:link,
.form-check.error .form-check-label a:active,
.form-check.error .form-check-label a:visited {
  color: red !important;
}

.btn-form-search {
  background-color: #4e4e50;
  color: #fff;
  padding: 10px auto;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 0;
}

.btn-form-search:hover {
  background-color: #afafaf;
  color: #FFFFFF;
}

.desktop-version .btn-form-search {
  letter-spacing: 3px;
  padding: 10px 20px 10px 70px;
}

.desktop-version .btn-form-search i {
  margin-left: 50px;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.store .carousel-item {
  padding: 60px 60px 20px 20px;
}

.carousel-inner {
  text-align: center;
}

.carousel-item .row .col h3 {

  font-size: 20px;
  color: #4e4e50;
  font-weight: 600;
  text-transform: uppercase;

}

.carousel-item .row .col p {

  font-size: 16px;
  color: #4e4e50;
  margin-top: 30px;

}

.carousel-item a.store-phone-link {
  color: #4e4e50;
}

.btn-item-store {

  background-color: #ffffff;
  border-color: #afafaf;
  color: #afafaf;
  padding: .275rem .75rem;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 0;

}

.btn-item-store:hover {
  background-color: #afafaf;
  border-color: #afafaf;
  color: #FFFFFF;
}

.container-carousel-store {
  background-color: #f3f4f4;
  padding-bottom: 50px;

}

.carousel-control-next-icon {
  background-image: url(../images/rigth.png) !important;
}

.carousel-control-prev-icon {
  background-image: url(../images/left.png) !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {

  width: 19px !important;
  height: 35px !important;

}

.carousel-control-next-icon {

  position: absolute;
  right: 20px;
  top: 50%;

}

.carousel-control-prev-icon {

  position: absolute;
  left: -20px;
  top: 50%;

}

.container-fluid-footer {
  position: relative;
  background-color: #7d9692;
  z-index: 999;
}

/*  Visual Bottom */

img.logo-left {
  padding: 15px;
}

img.visual-bottom {
  /*padding: 15px 15px 15px 70px;*/
  /*padding-bottom: 70px;*/
}

img.logo-n {
  padding: 15px 15px 15px 0;
}

.columm-product-left {

  /*padding:50px 0;*/
  padding-top: 50px;
  padding-bottom: 50px;

}

.columm-product-left .figure-product {
  padding: 0 45px;
}

.columm-product-right {

  /*padding: 53px 0 30px;*/
  padding-top: 50px;
  padding-bottom: 30px;

}

.columm-product-right h1 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 3px;
  color: #b2cfd4;
  padding-bottom: 20px;
  border-bottom: 4px solid #b2cfd4;
  line-height: 1.5em;
  /*width: 51%;*/
  display: inline-block;
}

.figure-caption h2 {
  letter-spacing: 3px;
  font-size: 22px;
  color: #b2cfd4;
  text-transform: uppercase;
  text-align: right;
  margin: 20px 0;
  width: 70%;
  float: right;

}

.figure-caption p {
  font-family: 'EB Garamond 12', serif;
  font-size: 18px;
  color: #4d4e4f;
  text-align: right;
  float: right;

}

.col-next-gif h2 {
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 22px;
  color: #b2cfd4;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.5em;
  margin-bottom: 20px;

}

.col-next-gif p {

  font-size: 20px;
  color: #4d4e4f;
  text-align: left;
  /*font-style: italic;*/
  font-family: 'EB Garamond 08', serif;
  line-height: 1.5em;

}

.gif-right .col-next-gif h2, .gif-right .col-next-gif p {
  text-align: right;
}
.col-next-gif em strong,
.col-next-gif h3 {

  font-size: 22px;
  color: #4d4e4f;
  text-align: left;
  font-family: 'EB Garamond 12', serif;
  line-height: 1em;

}

.col-next-gif {
  padding: 50px 40px;
}

.col-next-gif-mobile h2 {
  font-size: 30px;
  letter-spacing: 3px;
  color: #b2cfd4;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 20px;

}

.col-next-gif-mobile h3 {

  font-size: 22px;
  color: #4d4e4f;
  text-align: left;
  font-family: 'EB Garamond 12', serif;
  line-height: 1em;

}

.col-next-gif-mobile p {
  font-size: 22px;
  color: #4d4e4f;
  text-align: left;
  font-style: italic;
  font-family: 'EB Garamond 08', serif;
  line-height: 1.5em;

}

.col-next-gif-mobile {
  padding: calc(10%);
}

.div-gif-absolute {
  position: relative;
  background-color: #416971;
  padding: 25px 100px;
  text-align: center;
  color: #fff;
}

@media (min-width: 1200px) {

  .div-gif-absolute {
    position: relative;
    top: 20%;
    right: 5%;
    max-width: 550px;
  }

}

.div-gif-absolute h2 {
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 700;
  font-style: normal;
}

.div-gif-absolute p {
  font-size: 26px;
  font-family: 'EB Garamond 08', serif;
  font-style: italic;
}

.div-gif-relative {

  position: relative;
  width: 100%;
  height: auto;
  background-color: #416971;
  padding: 25px 100px;
  text-align: center;
  color: #fff;

}

.div-gif-relative-mobile {
  padding: 25px calc(10%);
}

.div-gif-relative h2 {
  font-size: 30px;
  font-family: 'Proxima Nova Lt', serif;
  font-weight: bold;
  letter-spacing: 3px;
  font-style: normal;
  word-wrap:break-word;
}

.div-gif-relative p {
  font-size: 23px;
  font-family: 'EB Garamond 08', serif;
  font-style: italic;
}

.text-center {
  text-align: center;
}

.gif-right {
  /*background-color: #f3f3f3;*/
}

.col-md-gif {
  padding-right: 0 !important;
}

.col-md-gif-right {
  padding-left: 0 !important;
}

.columm-product-right p {
  font-family: 'EB Garamond 12', serif;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
}

.content-product {
  float: right;
}

.figure-caption-product {
  padding-right: 10px;
}

.img-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-detail {
  position: absolute;
  bottom: 8px;
  max-width: 440px;
  right: 0;
  background-color: rgba(250, 251, 248, 0.7);
  padding: 15px;
  /*min-height: 300px;*/
}

.img-detail-container {
  position: relative;
}

.img-detail h3 {
  letter-spacing: 3px;
  font-size: 22px;
  color: #b2cfd4;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  border-bottom: 1px solid #b2cfd4;
  line-height: 26px;
  width: 80%;
  padding-bottom: 20px;
  padding-top: calc(1%);
  font-weight: 700;
  font-style: normal;
}

.img-detail p {
  font-size: 18px;
  color: #6e6f71;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  padding-top: calc(3%);
  padding-bottom: calc(8%);
  width: 80%;
  margin: 0 auto;
  font-family: 'EB Garamond 12', serif;
}

@media (min-width: 1000px) and (max-width: 1200px) {

  .img-detail {
    padding: 0;
  }

  .img-detail h3 {
    width: 85%;
  }

  .img-detail p {
    width: 90%;
  }

}


.columm-product-left-container, .columm-product-left-container-cell {
  background-color: #d4a9a9;
  padding: 50px;
  /*height: 400px;*/
  position: absolute;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 526px;
  margin-top: 17%;
}
.columm-product-left-container-cell {
  background-color: #b2a696;
  height: auto;
  position: relative;
  transform: none;
  left: auto;
  margin: 0;
}

.columm-product-left-container h3 {
  color: #fff;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 700;
  text-align: right;
  font-family: 'Proxima Nova Lt', serif;
  /*margin-top: 15%;*/
  text-transform: uppercase;
}

.columm-product-left-container p {
  font-family: 'EB Garamond 12', serif;
  color: #fff;
  font-size: 18px;
  text-align: right;
}

.columm-product-right-bottom {
  /*padding: 20px 20px;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-big-container {
  position: relative;
}

.img-gif {
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  .gif-left img {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

}

/* =============================================================================
   Legal notes
   ========================================================================== */

.legal-notes p {
  font-size: 20px;
  color: #4d4e4f;
  text-align: left;
  font-style: italic;
  font-family: 'EB Garamond 08', serif;
  line-height: normal;
}


/*MAPPA*/

.map {
  width: 100%;
  height: 600px;
}

.plus .col-5-div {
  /*height: 135px;*/
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  margin-top: calc(5%);
  /*padding-bottom: calc(20%);*/
  padding-bottom: 50px;
}

.plus .col-6 {
  height: auto;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  margin-top: calc(5%);
  padding-bottom: calc(10%);
}

.plus .col-5-div img {
  height: 112px;
}

.plus .col-6 img {
  height: 80px;
}

.mobile-version .plus .col-6 img {
  /*height: 140px;*/
}

.container-activity {

  background-color: #4e4e50;
  /*margin-top: 10px;*/

}

.container-carousel {

  background-color: #fff;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;

}

.container-fluid.container-fluid-img-big {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2em;
}

.top {
  line-height: 25px;
  padding: 50px 50px 0 50px;
  text-align: center;
}

.top span.size1 {
  color: #fff;
  font-size: 40px;
  line-height: 1.5em;
  text-transform: uppercase;
  /* padding: 30px; */
}

.top span.size3 {
  display: block;
  color: #fff;
  font-size: 40px;
  line-height: 1.5em;
  font-family: 'EB Garamond 12', serif;
  font-style: italic;
}

.top span.size3:first-letter {
  text-transform: uppercase !important;
}

.separator {

  height: 5px;
  border-top: 5px solid #fff;
  width: 100px;
  margin: 30px auto;

}

.separator-small {

  height: 5px;
  border-top: 5px solid #fff;
  width: 30px;
  margin: 10px auto;

}

.separator-green-box {

  height: 5px;
  border-top: 3px solid #fff;
  width: 250px;
  margin: 30px auto;

}

.separator-green-box-mobile {

  height: 5px;
  border-top: 3px solid #fff;
  width: 50%;
  margin: 30px auto;

}

.lnd-sl-title {
  color: #4e4e50;
  font-size: 40px;
  line-height: 1.5em;
  font-family: 'EB Garamond 12', serif;
  font-style: italic;
}

.lnd-sl-title span.size1 {
  font-family: 'Proxima Nova Rg', serif;
  color: #4e4e50;
  font-size: 40px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-style: normal;
}

span.size1-blu-mobile {
  color: #4e4e50;
  font-size: 36px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.top-mobile-2 {
  line-height: 25px;
  padding: 20px 0 10px 0;
  text-align: center;
}

.separator-blu {
  height: 5px;
  border-top: 5px solid #4e4e50;
  width: 100px;
  margin: 30px auto;

}

.separator-small-blu {
  height: 5px;
  border-top: 5px solid #4e4e50;
  width: 30px;
  margin: 10px auto;
}

a.btn.btn-form-search.btn-form-search-mobile {
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  white-space: normal;
}

a.btn.btn-form-search.btn-form-search-mobile:hover {
  background-color: #afafaf;
  color: #FFFFFF;
}

a.btn.btn-form-search.btn-form-search-mobile img {
  height: 50px;
  transform: translate(0, 20%);
}

input.form-control.form-control-mobile {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-bottom: 1px solid #959596;
}

.container-carousel-mobile {
  background-color: #fff;
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15%;
}

.col-5-div > span {
  color: #fff;
}

.icon-txt {
  font-size: 19px;
  line-height: 19px;
}

.icon-txt > .icon-title {
  display: block;
  text-transform: uppercase;
}

.icon-txt > .icon-subtitle {
  display: block;
  font-family: 'EB Garamond 12', serif;
  font-style: italic;
}

p.store-p {

  text-align: center;
  color: #a6a6a6;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}

.col-6 span {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 700;
}

.col-5-div {

  text-align: center;
}

.col-6-div {

  text-align: center;
}

.container-promo-mobile {

  padding-left: 0;
  padding-right: 0px;

}

.content-product-mobile h1 {
  font-weight: 700;
  font-size: 40px;
  color: #b2cfd4;
  padding-bottom: 20px;
  line-height: 1.2em;
  text-align: center;

}

.content-product-mobile p {

  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
}

.separator-mobile {
  height: 5px;
  border-top: 3px solid #b2cfd4;
  width: 150px;
  margin: 20px auto 10px auto;
}

.separator-mobile-small {
  height: 5px;
  border-top: 3px solid #b2cfd4;
  width: 30px;
  margin: 20px auto 10px auto;
}

.img-detail-mobile {
  position: absolute;
  bottom: 8px;
  width: 80%;
  max-width: 500px;
  right: 0;
  background-color: rgba(250, 251, 248, 0.7);
  padding: 3px;
  height: auto;
}

.img-detail-mobile h3 {

  font-size: 22px;
  color: #b2cfd4;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  border-bottom: 1px solid #b2cfd4;
  line-height: 26px;
  width: 80%;
  padding-bottom: 20px;
  padding-top: calc(1%);
  font-weight: 700;
  font-style: normal;

}

.img-detail-mobile p {

  font-size: 22px;
  color: #6e6f71;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  padding-top: calc(0%);
  padding-bottom: calc(8%);
  width: 100%;
  margin: 0 auto;
  /*font-family: 'EB Garamond SC 12', serif;*/
  font-family: 'EB Garamond 12', serif;

}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 9999999;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  left: 20px;
  background-color: transparent;
  background-image: url("../images/backtotop.jpg");
  background-size: 100%;
  background-position: center;
  color: #555;
  text-align: center;
  font-size: 0.1px;
  text-decoration: none;
}

#back2Top:hover {
  background-color: #DDF;
  color: #000;
}

.figure-caption.figure-caption-mobile h2 {
  font-size: 30px;
  letter-spacing: 3px;
  color: #b2cfd4;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
  width: 100%;
  float: none;
}

.figure-caption.figure-caption-mobile p {
  font-size: 22px;
  color: #4d4e4f;
  text-align: center;
  float: none;
}

.container-relative {
  position: relative;
}

.columm-product-left-container-mobile {
  background-color: #d4a9a9;
  padding: 35px;
  height: auto;
  position: relative;
  width: 85%;
  /*margin: -25% auto 5% auto;*/
  margin: -58px auto 5% auto;
}

.columm-product-left-container-mobile h3 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: 'Proxima Nova Lt', serif;
  margin-top: 5%;
  text-transform: uppercase;
}

.columm-product-left-container-mobile p {
  font-family: 'EB Garamond 12', serif;
  color: #fff;
  font-size: 22px;
  text-align: justify;
}

.top-mobile {
  line-height: 25px;
  padding: 50px 0 0 0;
  text-align: center;
}

.mobile-version span.size1 {
  color: #fff;
  font-size: 34px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  /* padding: 30px; */
}

.btn-form-footer-mobile {
  padding: 0;
  border-radius: 0;
  width: 100%;
  white-space: normal;
}

.btn-form-footer-mobile .btn-text,
.btn-form-footer-mobile .btn-icon {
  display: inline-block;
}

.btn-form-footer-mobile .btn-text {
  float: left;
  max-width: 75%;
  text-align: left;
  padding: 10px;
  letter-spacing: 3px;
  line-height: 1em;
}

@media (max-width: 340px) {

  .btn-form-footer-mobile .btn-text {
    max-width: 50%;
  }

}

.btn-form-footer-mobile .btn-icon {
  float: right;
  width: 20%;
  background-color: #768986;
  position: relative;
}

.btn-form-footer-mobile .btn-icon i.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0;
}

.btn-form-footer-mobile span.size1 {
  font-size: 14px;
  font-weight: normal;
}

.mobile-version span.size3 {
  display: block;
  color: #fff;
  font-size: 42px;
  line-height: 1.5em;
  font-family: 'EB Garamond 12', serif;
  font-style: italic;
  text-transform: lowercase;
}

.mobile-version span.size3:first-letter {
  text-transform: uppercase;
}

/*AUTOCOMPLETE */

#autocomplete-list {
  position: absolute;
  background: #FFF;
  z-index: 999;
  color: #000;
  min-width: 220px;
  padding-left: 0;
}

#autocomplete-list li {
  font-size: 13px;
  cursor: pointer;
  padding: 5px 8px;
  list-style: none;
}

#autocomplete-list li:hover {
  background: #f6f6f6;
}

@media (max-width: 991px) {
  #autocomplete-list {
    width: 305px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #autocomplete-list:not(:empty) {
    border: 1px solid #000;
    border-top: 0;
  }
}

@media (max-width: 767px) {
  #autocomplete-list {
    width: 100%;
    left: 0;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }

  #autocomplete-list:not(:empty) {
    border: 1px solid #000;
    border-top: 0;
  }
}

/* */

@media (max-width: 1200px) {

  .mobile-version .results-box {
    position: relative;
  }

  .mobile-version .results-box .slideshow-controls {
    display: none;
    position: absolute;
    top: 35%;
    z-index: 999;
    background-color: #FFF;
  }

  .mobile-version .results-box .slideshow-controls.arrow-left {
    left: -10px;
  }

  .mobile-version .results-box .slideshow-controls.arrow-right {
    right: -10px;
  }

  .mobile-version .results-box .results .tit-results {
    margin-top: 50px;
    position: relative;
    width: 100%;
  }

  .mobile-version .results-box .results .tit-results:before {
    z-index: -1;
    width: 100%;
    content: "";
    background-color: #000;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .mobile-version .results-box .results h3 {
    padding: 0px 20px;
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    background: #FFF;
  }

  .mobile-version .results-box .results a.store-phone-link {
    text-decoration: underline;
    display: inline-block;
    margin: 10px 0;
  }

  .mobile-version .results-box .results .cycle-store {
    margin-top: 20px;
    height: 225px;
    overflow: auto;
  }

  .mobile-version .results-box .results .single-store {
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
  }

  .mobile-version .results-box .results .single-store h4 {
    font-size: 22px;
  }

  .mobile-version .results-box .results .single-store p {
    font-size: 17px;
  }

  .mobile-version .results-box .results .single-store .btn-store {
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px solid #000;
  }

}

@media (min-width: 1200px) {
  .container.container-promo {
    max-width: 1280px;
  }

}

@media screen and (max-width: 1025px) {

  .main-visual {

    width: 1024px;
    /*background-image: url(/New-Landing-Natuzzi/img/main_visual_tablet.jpg);*/

  }

}

@media screen and (max-width: 1000px) {

  .main-visual {
    display: none;
  }

  body {
    overflow-y: auto;
  }

  .desktop-version {

    /*display: none;*/

  }

  .mobile-version {

    display: block;
  }

  .mobile-version nav {
    height: 100px;
    background-color: white;
    width: 100%;
    padding: 0 5%;
  }
  .mobile-version nav .n-italia {
    display: inline-block;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .mobile-version nav .n-italia img {
    width: 150px;
    vertical-align: unset;
  }
  .mobile-version nav .logo-right {
    display: inline-block;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .mobile-version nav .logo-right img{
    width: 50px;
    vertical-align: unset;
  }
  .logo-center {
    display: none;
  }
  .separator-nav {
    margin-bottom: .5rem;
  }
  .separator-nav .logo-centered {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .separator-nav .logo-centered img.logo-n {
    padding: 0;
  }
  .figure-no-margin {
    margin: 0;
  }

}

@media screen and (min-width: 1000px) {

  .desktop-version {

    display: block;
    width: calc(100% - 400px);
    border-right: 1px solid #b2b2b2;
    padding: 0 25px 50px 25px;

  }

  .mobile-version {
    display: none;
  }

}

.z-ontop {
  z-index: 999;
  display: block;
  position: relative;
}

.no-margin {
  margin-left: -18px;
  margin-right: -18px;
}

.desktop-version .no-margin {
  margin-left: -20px;
  margin-right: -23px;
}

.figure-caption h2 {
  width: 100%;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* =============================================================================
   Thankyou Page modal
   ========================================================================== */


@media (min-width: 1000px) and (max-height: 640px) {

  .form-control.form-text-area {
    font-size: 13px;
  }

  #form_expand label, #form_expand_footer label, #form-footer-mobile label {
    font-size: 13px;
  }

}

/* =============================================================================
   Alerts
   ========================================================================== */

.swal-modal {
  border-radius: 0;
}

.swal-title {
  color: #687d7a;
  font-family: "Proxima Nova Rg", serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.swal-button {
  background-color: #687d7a;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: "Proxima Nova Rg", serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 10px 30px;
  border-radius: 0;
  text-align: center;
  text-transform: none;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}

.swal-button:focus {
  outline: none;
  box-shadow: none;
}

.swal-button:active {
  background-color: #138496;
}

.swal-text {
  font-family: 'EB Garamond 12', serif;
  font-size: 18px;
  color: #4d4e4f;
  text-align: center;

}

/* =============================================================================
   Images slider
   ========================================================================== */

.carousel-indicators .active {
  background-color: #687d7a;
}

.carousel-indicators li {
  height: 5px;
}

/* =============================================================================
   Privacy modals
   ========================================================================== */

.modal-content {
  border-radius: 0;
}

.modal-header {
  border-radius: 0;
  border: 0;
  padding: 20px 40px 20px 20px;
}

.modal-header .close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0;
  margin: 0;
}

.modal-title {
  color: #687d7a;
  font-family: "Proxima Nova Rg", serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.modal-body {
  padding: 20px;
}

.modal-body p {
  font-family: 'EB Garamond 12', serif;
  font-size: 18px;
  color: #4d4e4f;
}

.modal-footer {
  border: 0;
  padding: 20px;
}

.modal-footer .btn-success {
  background-color: #687d7a;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: "Proxima Nova Rg", serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 10px 30px;
  border-radius: 0;
  text-align: center;
  text-transform: none;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  border: 0;
}

.modal-footer .btn-success:active,
.modal-footer .btn-success:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #138496 !important;
}

@media (max-width: 768px) {
  .x-small {
    font-size: 22px;
  }

}

/* =============================================================================
   Buttons
   ========================================================================== */

/*MOBILE*/

.buttons-mobile {
  margin-bottom: 30px;
}

.button-item-mobile {
  padding: 20px;
  text-align: center;
}

.button-item-mobile span {
}

.button-item-mobile .button-icon,
.button-item-mobile .icon-txt {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.button-item-mobile .button-icon {
  max-width: 50px;
  margin-right: 10px;
}

.button-item-mobile .icon-txt span {
  color: #69686e;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.button-phone-title{
  color: #FFFFFF;
}

.button-item-mobile a:link,
.button-item-mobile a:active,
.button-item-mobile a:visited,
.button-item-mobile a:hover {
  color: #69686e;
  text-decoration: none;
}


/*DESKTOP*/

.col-logo {
  position: relative;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.button-item {
  width: 190px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a1a0a5;
  margin: 30px auto 0;
}

.button-item a:link,
.button-item a:active,
.button-item a:visited,
.button-item a:hover {
  color: #69686e;
  text-decoration: none;
}

.button-item .button-icon {
  max-width: 50px;
}

@media (max-width: 1200px) {

  .button-item {
    width: 150px;
    margin: 10px auto 0;
  }

  .button-item .button-icon {
    margin-bottom: 20px;
  }

}

/* ==========================================================================
   Formlocator
   ========================================================================== */

.formlocator-group{
  margin-top: 10px;
}

.btn-outline-primary {
  border-radius: 0;
  border-color: #687d7a;
  width: 100%;
}

.btn-outline-primary:active,
.btn-outline-primary:hover {
  border-color: #687d7a !important;
  background-color: #687d7a !important;
  color: #ffffff !important;
}

.error .btn-outline-primary {
  border-color: red;
  color: red !important;
}


/* MODAL */

#fl-open_store {
  z-index: 1050;
  width: 90%;
  margin: 5% auto;
}

.formlocator-modal {
  border-radius: 0;
}

.pac-container {
  z-index: 1100; /* autocomplete suggestions */
}

#store-description {
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {

  .formlocator-modal .modal-title {
    font-size: 30px;
    line-height: normal;
  }

  .formlocator-modal .wname {
    font-size: 18px;
    line-height: normal;
  }

  .formlocator-modal .container .content .as-table {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
  }

  .formlocator-modal .container {
    margin-bottom: 20px;
  }

  .fl-confirm_store {
    margin-top: 0;
    margin-bottom: 20px;
  }

  #fl-top-map {
    margin-bottom: 20px;
  }

  /*INFO WINDOW SELECT BTN*/
  .gm-style-iw .fl-confirm_store {
    margin-top: 20px;
    margin-bottom: 0;
  }

}


/* WEBFORM */
#m-form { position: fixed; right: 0; top: 20px; width: 400px; padding: 25px }
#m-form p { margin-bottom: 25px; font-size: 20px }
#m-form p span.size1 { font-weight: bold; font-size: 32px; line-height: 36px; display: inline-block; margin-bottom: 15px }
#m-form p span.size2 { font-weight: bold; font-size: 50px; line-height: 54px }
#m-form .btn { width: 100% }
#m-form .call-us-now { margin-top: 30px; text-align: center; font-size: 23px; font-weight: bold; letter-spacing: -1px }
#m-form .call-us-now img { margin-right: 10px; width: 50px }
#m-form .call-mobi { display: none }

@media only screen and (max-width: 991px) {
  #m-form {
    padding: 40px;
    position: relative;
    width: auto;
    text-align: center;
  }
}
