/* Desktops and laptops ----------- */
@media screen and (max-width: 1210px) {
    .particular-pages .particular-pages-cont {
        width: 960px; }
    .particular-pages .particular-pages-cont .title {
        font-size: 24px; }
    .particular-pages .particular-pages-cont .single-post-slider {
        height: 400px; }
    .particular-pages .particular-pages-cont .row-2 img {
        display: block;
        width: 630px; }
    .particular-pages .particular-pages-cont .row-2 .text-block {
        width: 310px;
        height: 307px; }
    .particular-pages .particular-pages-cont .row-2 .text-block .middle {
        width: 245px; }
    .particular-pages .particular-pages-cont .row-2 .text-block h2 {
        font-size: 20px;
        line-height: 26px; }
    .particular-pages .particular-pages-cont .row-2 .text-block p {
        font-size: 14px;
        line-height: 20px; }
    .particular-pages .particular-pages-cont .row-3 .image img {
        width: 306px; }
    .particular-pages .particular-pages-cont .row-3 .text-block {
        width: 306px;
        height: 306px; }
    .particular-pages .particular-pages-cont .row-3 .text-block:after {
        content: '';
        height: 100%;
        vertical-align: middle;
        display: inline-block; }
    .particular-pages .particular-pages-cont .row-3 .text-block .middle {
        width: 245px; }
    .particular-pages .particular-pages-cont .row-3 .text-block h2 {
        font-size: 20px;
        line-height: 26px; }
    .particular-pages .particular-pages-cont .row-3 .text-block p {
        font-size: 14px;
        line-height: 20px; }
    .particular-pages .particular-pages-cont .row-4 .block img {
        display: block;
        width: 225px; }
    .particular-pages .particular-pages-cont .row-4 .block p {
        padding: 15px 20px;
        font-size: 16px; }
}

/* iPads (portrait) ----------- */
@media screen and (max-width: 980px) {

    .particular-pages .particular-pages-cont {
        width: 600px; }
    .particular-pages .particular-pages-cont .title {
        font-size: 24px;
        padding: 16px; }
    .particular-pages .particular-pages-cont .single-post-slider {
        height: 306px; }
    .particular-pages .particular-pages-cont .row-2 img {
        display: block;
        width: 360px; }
    .particular-pages .particular-pages-cont .row-2 .text-block {
        width: 220px;
        height: 175px;
        line-height:175px;
    }
    .particular-pages .particular-pages-cont .row-2 .text-block .middle {
        width: 185px; }
    .particular-pages .particular-pages-cont .row-2 .text-block h2 {
        font-size: 20px;
        line-height: 26px; }
    .particular-pages .particular-pages-cont .row-2 .text-block p {
        font-size: 14px;
        line-height: 20px; }
    .particular-pages .particular-pages-cont .row-3 .image img {
        width: 170px; }
    .particular-pages .particular-pages-cont .row-3 .text-block {
        width: 220px;
        height: 175px;
        line-height: 175px;
    }
    .particular-pages .particular-pages-cont .row-3 .text-block .middle {
        width: 185px; }
    .particular-pages .particular-pages-cont .row-3 .text-block h2 {
        font-size: 20px;
        line-height: 26px; }
    .particular-pages .particular-pages-cont .row-3 .text-block p {
        font-size: 14px;
        line-height: 20px; }
    .particular-pages .particular-pages-cont .row-4 .block img {
        display: block;
        width: 135px; }
    .particular-pages .particular-pages-cont .row-4 .block p {
        padding: 9px 20px;
        font-size: 16px; }
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 680px) {
    .particular-pages .particular-pages-cont {
        width: 100%;
        padding:0;
        /*padding: 0 20px; */
    }
    .particular-pages .particular-pages-cont .title {
        font-size: 24px;
        padding: 10px 0; }
    .particular-pages .particular-pages-cont .single-post-slider {
        height: 250px; }
    .particular-pages .particular-pages-cont .single-post-slider img {
        max-width:none;
    }
    .particular-pages .particular-pages-cont .single-post-slider .slick-dots {
        bottom: 20px; }
    .particular-pages .particular-pages-cont .single-post-slider .slick-dots li {
        margin: 0 3px; }
    .particular-pages .particular-pages-cont .row-2 img {
        display: block;
        width: 100%;
    }
    .particular-pages .particular-pages-cont .row-2 .text-block {
        width: 100%;
        height: auto;
        margin: 20px 0 0 0;
        padding: 20px;
        line-height: 0; }
    .particular-pages .particular-pages-cont .row-2 .text-block .middle {
        width: 100%; }
    .particular-pages .particular-pages-cont .row-2 .text-block h2 {
        font-size: 20px;
        line-height: 26px; }
    .particular-pages .particular-pages-cont .row-2 .text-block p {
        font-size: 14px;
        line-height: 20px; }
    .particular-pages .particular-pages-cont .row-3 .image {
        float: none !important;
        margin: 20px 0 0 0 !important; }
    .particular-pages .particular-pages-cont .row-3 .image img {
        width: 100%; }
    .particular-pages .particular-pages-cont .row-3 .text-block {
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 20px 0 0 0 !important;
        float: none !important;
        line-height: 0; }
    .particular-pages .particular-pages-cont .row-3 .text-block .middle {
        width: 100%; }
    .particular-pages .particular-pages-cont .row-3 .text-block h2 {
        font-size: 20px;
        line-height: 26px; }
    .particular-pages .particular-pages-cont .row-3 .text-block p {
        font-size: 14px;
        line-height: 20px; }
    .particular-pages .particular-pages-cont .row-4 .block {
        width: 48%;
        margin: 20px 0 0 0 !important; }
    .particular-pages .particular-pages-cont .row-4 .block:nth-of-type(even) {
        float: right; }
    .particular-pages .particular-pages-cont .row-4 .block img {
        display: block;
        width: 100%; }
    .particular-pages .particular-pages-cont .row-4 .block p {
        padding: 9px 20px;
        font-size: 16px; }
}

/* Smartphones (portrait) ----------- */