
/* Badea main page */
.particular-pages .particular-pages-cont .single-post-slider {
    overflow: hidden;
    /*height: 676px;*/
}

.particular-pages .particular-pages-cont .single-post-slider .slick-list, .particular-pages .particular-pages-cont .single-post-slider .slick-track {
    height: 100%;
}

.particular-pages .particular-pages-cont .single-post-slider .slick-slide {
    overflow: hidden;
    position: relative;
}

.particular-pages .particular-pages-cont .single-post-slider .slick-slide img {
    display: block;
    position: relative;
}

.particular-pages .particular-pages-cont .single-post-slider .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.particular-pages .particular-pages-cont .single-post-slider .slick-dots li {
    display: inline-block;
    margin: 0 15px;
}

.particular-pages .particular-pages-cont .single-post-slider .slick-dots li button {
    background: none;
    padding: 0;
    cursor: pointer;
    width: 20px;
    height: 19px;
    border: 2px solid #fff;
    overflow: hidden;
    text-indent: -9999px;
}

.particular-pages .particular-pages-cont .single-post-slider .slick-dots li.slick-active button {
    background: #fff;
}

.particular-pages .particular-pages-cont .fancyk {
    display: none;
}

.particular-pages .particular-pages-cont .row-2 {
    margin: 15px 0 0 0;
}

.particular-pages .particular-pages-cont .row-2:after {
    content: "";
    display: table;
    clear: both;
}

.particular-pages .particular-pages-cont .row-2 img {
    display: block;
    float: left;
    width: 718px;
}

.particular-pages .particular-pages-cont .row-2 .text-block {
    float: right;
    width: 285px;
    height: 350px;
    line-height:350px;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.particular-pages .particular-pages-cont .row-2 .text-block:after {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.particular-pages .particular-pages-cont .row-2 .text-block .middle {
    display: inline-block;
    vertical-align: middle;
}

.particular-pages .particular-pages-cont .row-2 .text-block h2 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-family: 'ProximaNovaCondLight';
    text-transform: uppercase;
}

.particular-pages .particular-pages-cont .row-2 .text-block p {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: "ProximaNovaCondLight";
}

.particular-pages .particular-pages-cont .row-2:nth-of-type(odd) img {
    float: right;
}

.particular-pages .particular-pages-cont .row-2:nth-of-type(odd) .text-block {
    float: left;
}

.particular-pages .particular-pages-cont .row-3 {
    margin: 20px 0 0 0;
    position: relative;
}

.particular-pages .particular-pages-cont .row-3:after {
    content: "";
    display: table;
    clear: both;
}

.particular-pages .particular-pages-cont .row-3 .image {
    float: right;
}

.particular-pages .particular-pages-cont .row-3 .image:last-child {
    margin: 0 20px;
}

.particular-pages .particular-pages-cont .row-3 .image img {
    display: block;
    width: 328px;
}

.particular-pages .particular-pages-cont .row-3 .text-block {
    float: left;
    width: 328px;
    height: 328px;
    line-height: 328px;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.particular-pages .particular-pages-cont .row-3 .text-block:after {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.particular-pages .particular-pages-cont .row-3 .text-block .middle {
    display: inline-block;
    vertical-align: middle;
    /*width: 330px;*/
}

.particular-pages .particular-pages-cont .row-3 .text-block h2 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-family: 'ProximaNovaCondLight';
    text-transform: uppercase;
}

.particular-pages .particular-pages-cont .row-3 .text-block p {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: "ProximaNovaCondLight";
}

.particular-pages .particular-pages-cont .row-3:nth-of-type(3n+2) .text-block {
    float: left;
    margin: 0 20px;
}

.particular-pages .particular-pages-cont .row-3:nth-of-type(3n+2) .image {
    float: left;
    margin: 0;
}

.particular-pages .particular-pages-cont .row-3:nth-of-type(3n+3) .text-block {
    float: right;
}

.particular-pages .particular-pages-cont .row-3:nth-of-type(3n+3) .image {
    float: left;
    margin: 0;
}

.particular-pages .particular-pages-cont .row-3:nth-of-type(3n+3) .image:last-child {
    margin: 0 20px;
}
/* \Badea main page */


/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
    background: none;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

/* #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('fancybox_sprite.png');
} */
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 8040;
    background: url(../images/fancybox/close.png) no-repeat;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url("../images/fancybox/blank.gif");
    /* helps IE */
    -webkit-tap-highlight-color: transparent;
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba(0, 0, 0, 0.85);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
}