
/**
* Default DropKick theme
*
* Feel free to edit the default theme
* or even add your own.
*
* See the readme for themeing help
*
*/
/***** Begin Theme, feel free to edit in here! ******/
/* One container to bind them... */
.dk_container {
  font-size: .9em;
  line-height: 100%;
  margin-bottom: .5em;
  width:220px;
  height: 27px;
  border: 1px solid #c9c9c9;
}
.dk_container:focus {
  outline: 0;
}
.dk_container a {
  cursor: pointer;
  text-decoration: none;
}
/* Opens the dropdown and holds the menu label */
a.dk_toggle {
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
  background-position: -54px 0;
  width: 27px !important;
  height: 27px;
  float: right;
}
a.dk_toggle:hover {
  background-position-y: -27px;
}
span.dk_label {
  color: #444;
  display: block;
  margin-top: 5px;
  margin-left: 10px;
  width:80% !important;
}
/* Applied when the dropdown is focused */
.dk_focus .dk_toggle {

}
.dk_focus .dk_toggle {

}
/* Applied whenever the dropdown is open */
.dk_open {

/**
* Help: Dropdown menu is covered by something
* Try setting this value higher
*/
z-index: 50;
}
.dk_open .dk_toggle {
  background-position-y:-27px;
}
/* The outer container of the options */
.dk_options {
}
.dk_options a {
  background-color: #cecece;
  /* border-bottom: 1px solid #999; */
  font-weight: bold;
  padding: 8px 10px 8px 15px;
  opacity: .97;
}
.dk_options li:last-child a {
  border-bottom: none;
}
.dk_options a:hover,
.dk_option_current a {
  background-color: #f5f5f5;
  text-decoration: none;
  color: #1d1d1d;
}
/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  /* border: 1px solid #8c8c8e; */
  /* border-bottom-width: 2px; */
  /* border-bottom-color: #999; */
  /* color: #333; */
  max-height: 250px;
  /* text-shadow: #fff 0 1px 0; */
}
/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}
/****** End Theme ******/
/***** Critical to the continued enjoyment of working dropdowns ******/
.dk_container {
  display: none;
  float: left;
  position: relative;
}
.dk_container a {
  outline: 0;
}
.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}
.dk_open {
  position: relative;
}
.dk_open .dk_options {
  display: block;
}
.dk_open .dk_label {
  color: inherit;
}
.dk_options, .container-inline div.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
.dk_options a,
.dk_options a:link,
.dk_options a:visited {
  display: block;
  color: black;
}
.dk_options_inner {
  overflow: visible;
  position: relative;
}
.dk_touch .dk_options {
  overflow: hidden;
}
.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}
.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}
ul.dk_options_inner {
  list-style-type:none;
  margin:0;
  padding:0;
}
/***** End Critical to the continued enjoyment of working dropdowns ******/
