#furnileads-lead-edit-form div.form-item-status, #furnileads-lead-edit-form div.form-item-type  {
	display:inline-block;
	margin: auto 1em;
}
#furnileads-lead-edit-form .form-item div.form-item-status, #furnileads-lead-edit-form .form-item div.form-item-type {
	padding-right:1em;
}
div.form-item-first-name, div.form-item-last-name, div.form-item-email, div.form-item-phone, div.form-item-address, div.form-item-zip   {
	float:left;
	margin: auto .5em;
}
div.form-item-last-name  {
	clear:right;
}
div.form-item-zip {
	clear:left;
}
div.form-item-body {
	clear:both;
}

td.lead-open {
	background-color:rgb(255, 130, 130);
}
td.lead-pending {
	background-color:rgb(253, 235, 117);
}
td.lead-sold, td.lead-communicated {
	background-color:rgb(160, 236, 111);
}
td.lead-closed {
	background-color:rgb(90, 198, 255);
}

ul.tips, div.description, .form-item div.description {
	clear:both;
}

/* ITEM FORM TWEAKS */
#edit-field-category-und {
	height:20em;
}
.field-name-field-show-add-to-cart, .field-name-field-starting-from-price, .field-name-field-clearance {
	background-color: yellow;
	padding: 1em;
	border-left: 5px solid red;
	border-right: 5px solid red;
}
#edit-field-clearance {
  display:inline-block;
}
/* \ITEM FORM TWEAKS */
