@font-face {
    font-family: 'proximaNovaReg';
    src: url("https://www.natuzzi.us/promotions/font/proxima_nova_reg-webfont.eot");
    src: url("https://www.natuzzi.us/promotions/font/proxima_nova_reg-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.natuzzi.us/promotions/font/proxima_nova_reg-webfont.woff") format("woff"), url("https://www.natuzzi.us/promotions/font/proxima_nova_reg-webfont.ttf") format("truetype"), url("https://www.natuzzi.us/promotions/font/proxima_nova_reg-webfont.svg#proximaNovaReg") format("svg");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'proximaNovaSbold';
    src: url("https://www.natuzzi.us/promotions/font/proxima_nova_sbold-webfont.eot");
    src: url("https://www.natuzzi.us/promotions/font/proxima_nova_sbold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.natuzzi.us/promotions/font/proxima_nova_sbold-webfont.woff") format("woff"), url("https://www.natuzzi.us/promotions/font/proxima_nova_sbold-webfont.ttf") format("truetype"), url("https://www.natuzzi.us/promotions/font/proxima_nova_sbold-webfont.svg#proximaNovaSbold") format("svg");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'ProximaNovaThRegular';
    src: url("https://www.natuzzi.us/promotions/font/proxima_nova_thin-webfont.eot");
    src: url("https://www.natuzzi.us/promotions/font/proxima_nova_thin-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.natuzzi.us/promotions/font/proxima_nova_thin-webfont.woff") format("woff"), url("https://www.natuzzi.us/promotions/font/proxima_nova_thin-webfont.ttf") format("truetype"), url("https://www.natuzzi.us/promotions/font/proxima_nova_thin-webfont.svg#ProximaNovaThRegular") format("svg");
    font-weight: normal;
    font-style: normal; }