.paragraph .content {
  padding: 20px;
}

.component-content-strap {
  position: relative;
  clear: both;
  margin: 0 0 60px 0;
}

.component-content-strap > .container-fluid > .row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.component-content-strap > .container-fluid > .row > [class*='col-'] {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0 !important;
}

.component-content-strap-column {
  position: relative;
  clear: both;
  margin: 0;
  padding: 40px 20px;
  height: 100%;
}

@media (min-width: 768px) {
  .component-content-strap-column {
    padding: 40px 40px;
  }
}

div.component-content-strap-column__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.component-content-strap-column__content {
  position: relative;
  z-index: 1;
}

.component-content-strap-column__body {
  margin: 0;
  padding: 0;
}

.component-content-strap-column__body .text-formatted > h1:first-child, .component-content-strap-column__body .text-formatted > h2:first-child, .component-content-strap-column__body .text-formatted > h3:first-child, .component-content-strap-column__body .text-formatted > h4:first-child, .component-content-strap-column__body .text-formatted > h5:first-child, .component-content-strap-column__body .text-formatted > h6:first-child {
  margin-top: 0;
}

.component-cta-strap {
  position: relative;
  clear: both;
  margin: 0 0 60px 0;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.component-cta-strap .component-cta-strap__content {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 1;
}

.component-cta-strap__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.component-cta-strap__body {
  margin: 0;
  padding: 0;
}

.component-cta-strap--color-override .base-accordion .base-accordion__content {
  background: none;
}

.component-cta-strap--color-override a {
  text-decoration: underline;
}

.component-cta-strap--color-override a:hover, .component-cta-strap--color-override a:focus {
  color: inherit;
  text-decoration: none;
}

.component-featured-products {
  clear: both;
  margin: 0 auto 40px;
  padding: 0 15px;
  max-width: 1400px;
}

.component-featured-products__title {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #cc0000;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.component-featured-products__slider {
  margin: 0;
  padding: 0 40px;
}

.component-featured-products__slider .slick-prev, .component-featured-products__slider .slick-next {
  position: absolute;
  top: 35%;
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  font-size: 0;
  line-height: 1.0;
  background: none;
  border: none;
  outline: none;
  vertical-align: middle;
  z-index: 2;
}

.component-featured-products__slider .slick-prev {
  left: 3px;
}

.component-featured-products__slider .slick-prev:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "ï„„";
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #6a6a6a;
  font-size: 50px;
  text-align: center;
  outline: none;
}

.component-featured-products__slider .slick-prev:hover:before {
  opacity: 0.6;
}

.component-featured-products__slider .slick-next {
  right: 3px;
}

.component-featured-products__slider .slick-next:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "ï„…";
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #6a6a6a;
  font-size: 50px;
  text-align: center;
  outline: none;
}

.component-featured-products__slider .slick-next:hover:before {
  opacity: 0.6;
}

.component-featured-products__slider .slick-next.slick-disabled:before, .component-featured-products__slider .slick-prev.slick-disabled:before {
  color: #ccc;
  opacity: 1;
}

.component-featured-products__slider__slide__item {
  padding: 0 10px;
}

.component-featured-products__slider__slide__item a {
  line-height: 1.3em;
  color: #000;
}

.component-featured-products__slider--no-slider {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media (min-width: 480px) {
  .component-featured-products__slider--no-slider {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
}

.component-featured-products__slider--no-slider .component-featured-products__slider__slide {
  float: none;
  margin: 0 0 30px 0;
  padding: 0 10px;
  width: 50%;
  background: none;
}

@media (min-width: 768px) {
  .component-featured-products__slider--no-slider .component-featured-products__slider__slide {
    padding: 0 10px;
    width: 25%;
  }
}

@media (min-width: 992px) {
  .component-featured-products__slider--no-slider .component-featured-products__slider__slide {
    width: 15%;
  }
}

.component-featured-products__slider--no-slider .component-featured-products__slider__slide__item {
  padding: 0;
}

.paragraph--view-mode--default a.product--teaser .product__thumbnail {
  height: 160px;
}

.component-strap {
  position: relative;
  clear: both;
  margin: 0 0 60px 0;
}

.component-strap .component-strap__content {
  position: relative;
  margin: 0;
  padding: 40px 20px;
  text-align: center;
  z-index: 1;
}

@media (min-width: 768px) {
  .component-strap .component-strap__content {
    padding: 40px;
  }
}

div.component-strap__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.component-strap__body {
  margin: 0;
  padding: 0;
}

.component-strap__body h1, .component-strap__body h2, .component-strap__body h3, .component-strap__body h4, .component-strap__body h5, .component-strap__body h6 {
  margin: 14px 0;
  padding: 0;
}

.component-strap--color-override .base-accordion .base-accordion__content {
  background: none;
}

.component-strap--color-override a {
  text-decoration: underline;
}

.component-strap--color-override a:hover, .component-strap--color-override a:focus {
  color: inherit;
  text-decoration: none;
}

.component-strap__buttons {
  clear: both;
}

.component-strap__buttons div {
  display: inline-block;
  vertical-align: top;
}

.component-strap .component-webform {
  margin: 0;
}

.component-strap form .form-item {
  display: inline-block;
  margin: 20px 20px;
  padding: 0;
  max-width: 240px;
  text-align: left;
  vertical-align: top;
}

.component-strap form .form-actions {
  display: inline-block;
  margin: 20px 20px;
  padding: 29px 0 0 0;
  vertical-align: top;
}

.component-carousel {
  position: relative;
  clear: both;
  margin: 0 auto 20px auto;
  padding: 0;
  max-width: 1600px;
  overflow: hidden;
}

.component-carousel .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0;
  text-align: center;
  list-style: none;
  z-index: 4;
}

.component-carousel .slick-dots > li {
  display: inline-block;
  margin: 0 3px;
  padding: 0;
  font-size: 0;
  vertical-align: top;
}

.component-carousel .slick-dots > li button {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  text-align: left;
  font-size: 0;
  text-indent: -99999px;
  background: none;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.component-carousel .slick-dots > li button:hover, .component-carousel .slick-dots > li button:focus {
  background: #fff;
}

.component-carousel .slick-dots > li.slick-active button {
  background: #fff;
}

.component-carousel .slick-arrow {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 100%;
  font-size: 0;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  z-index: 4;
}

@media (min-width: 768px) {
  .component-carousel .slick-arrow {
    width: 50px;
  }
}

.component-carousel .slick-arrow:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #dedede;
  outline: none;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
  .component-carousel .slick-arrow:before {
    font-size: 60px;
  }
}

.component-carousel .slick-arrow:hover:before {
  color: #fff;
}

.component-carousel .slick-arrow.slick-prev {
  left: 0;
}

.component-carousel .slick-arrow.slick-prev:before {
  content: "ï„„";
}

.component-carousel .slick-arrow.slick-next {
  right: 0;
}

.component-carousel .slick-arrow.slick-next:before {
  content: "ï„…";
}

.component-carousel-slide {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
}

.component-carousel-slide__link a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-decoration: none;
  background: #fff;
  opacity: 0;
  z-index: 3;
}

.component-carousel-slide__link a:hover, .component-carousel-slide__link a:focus {
  opacity: 0.1;
}

.component-carousel-slide__image img, .component-carousel-slide__image-mobile img {
  display: block;
  max-width: 100%;
  height: auto;
}

div.component-carousel-slide__content-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #666;
  z-index: 2;
}

@media (min-width: 992px) {
  div.component-carousel-slide__content-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
  }
}

.component-carousel-slide__content {
  margin: 0 auto;
  padding: 20px 20px 60px 20px;
  max-width: 1200px;
}

@media (min-width: 992px) {
  .component-carousel-slide__content {
    padding: 0 55px;
  }
}

.component-carousel-slide__title h2 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 26px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
}

@media (min-width: 480px) {
  .component-carousel-slide__title h2 {
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 768px) {
  .component-carousel-slide__title h2 {
    font-size: 38px;
  }
}

.component-carousel-slide__body {
  margin: 0 0 17px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
  .component-carousel-slide__body {
    font-size: 18px;
    line-height: 1.4;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
  }
}

.component-carousel-slide__body p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.component-carousel-slide__link-wrapper {
  display: block;
}

.component-content-carousel {
  position: relative;
  clear: both;
  margin: 40px auto;
  padding: 0;
}

.component-content-carousel .slick-arrow {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 100%;
  font-size: 0;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  z-index: 4;
}

@media (min-width: 768px) {
  .component-content-carousel .slick-arrow {
    width: 50px;
  }
}

.component-content-carousel .slick-arrow:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: #ccc;
  outline: none;
  transition: color .2s ease-in-out, opacity .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

@media (min-width: 768px) {
  .component-content-carousel .slick-arrow:before {
    font-size: 60px;
  }
}

.component-content-carousel .slick-arrow:hover:before {
  color: #333;
}

.component-content-carousel .slick-arrow.slick-disabled:before {
  color: #ccc;
  opacity: 0.5;
}

.component-content-carousel .slick-arrow.slick-prev {
  left: 0;
}

.component-content-carousel .slick-arrow.slick-prev:before {
  content: "ï„„";
}

.component-content-carousel .slick-arrow.slick-next {
  right: 0;
}

.component-content-carousel .slick-arrow.slick-next:before {
  content: "ï„…";
}

.component-content-carousel__slide {
  margin: 0 40px;
  padding: 20px;
  border: 1px solid #ccc;
}

@media (min-width: 768px) {
  .component-content-carousel__slide {
    margin: 0 80px;
    padding: 30px;
  }
}

.component-content-carousel__slide .field > h1, .component-content-carousel__slide .field > h2, .component-content-carousel__slide .field > h3, .component-content-carousel__slide .field > h4, .component-content-carousel__slide .field > h5, .component-content-carousel__slide .field > h6 {
  margin-top: 0;
  padding-top: 0;
}

.component-content-carousel__slide .field p:last-child, .component-content-carousel__slide .field ul:last-child, .component-content-carousel__slide .field ol:last-child {
  margin-bottom: 0;
}

.component-content-carousel__slider_item {
  outline: none;
}

.component-logo {
  min-height: 50px;
  margin-bottom: 0;
}

.component-logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.component-logo__link {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  opacity: 1;
  outline: none;
}

.component-logo__link:hover, .component-logo__link:focus {
  opacity: 0.7;
}

.component-logo-carousel {
  position: relative;
  clear: both;
  margin: 60px auto;
  padding: 0;
}

.component-logo-carousel .slick-arrow {
  position: absolute;
  top: -8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 100%;
  font-size: 0;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  z-index: 4;
}

@media (min-width: 768px) {
  .component-logo-carousel .slick-arrow {
    width: 50px;
  }
}

.component-logo-carousel .slick-arrow:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #ccc;
  outline: none;
  transition: color .2s ease-in-out, opacity .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
}

@media (min-width: 768px) {
  .component-logo-carousel .slick-arrow:before {
    font-size: 60px;
  }
}

.component-logo-carousel .slick-arrow:hover:before {
  color: #333;
}

.component-logo-carousel .slick-arrow.slick-prev {
  left: 0;
}

.component-logo-carousel .slick-arrow.slick-prev:before {
  content: "ï„„";
}

.component-logo-carousel .slick-arrow.slick-next {
  right: 0;
}

.component-logo-carousel .slick-arrow.slick-next:before {
  content: "ï„…";
}

.component-logo-carousel__slider {
  padding: 0 40px;
}

@media (min-width: 768px) {
  .component-logo-carousel__slider {
    padding: 0 70px;
  }
}

.component-logo-carousel__slide {
  height: 100%;
  margin: 0;
  padding: 0 20px;
  outline: none;
}

.component-logo-carousel__slider__item {
  outline: none;
}

.component-image-content {
  margin: 60px 0;
}

.component-image-content__container {
  background: #fff;
}

.component-image-content__col {
  padding: 0;
}

.component-image-content__col img {
  display:block;
  width:100%;
  max-width:100%;
  height:auto;
}

.component-image-content__body {
  margin: 0;
  padding: 20px;
}

@media (min-width: 768px) {
  .component-image-content__body {
    padding: 25px 30px;
  }
}

.component-image-content__body h1, .component-image-content__body h2, .component-image-content__body h3, .component-image-content__body h4, .component-image-content__body h5, .component-image-content__body h6 {
  margin-top: 0;
}

.component-image-content__body--color-override .base-accordion .base-accordion__content {
  background: none;
}

.component-image-content__body--color-override a {
  text-decoration: underline;
}

.component-image-content__body--color-override a:hover, .component-image-content__body--color-override a:focus {
  color: inherit;
  text-decoration: none;
}



.component-image-strap {
  position: relative;
  margin: 0 0 60px 0;
}

.component-image-strap img {

}

.component-image-strap__col {
  padding: 0;
}

.component-image-strap__col img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.component-image-strap__content {
  position: relative;
  margin: 0;
  padding: 20px;
  z-index: 1;
}

@media (min-width: 992px) {
  .component-image-strap__content {
    padding: 40px 20px 40px 60px;
  }
}

.component-image-strap--image-right .component-image-strap__content {
  padding: 20px;
}

@media (min-width: 992px) {
  .component-image-strap--image-right .component-image-strap__content {
    padding: 40px 60px 40px 20px;
  }
}

.component-image-strap__body {
  margin: 0;
  padding: 0;
}

.component-image-strap__body h1, .component-image-strap__body h2, .component-image-strap__body h3, .component-image-strap__body h4, .component-image-strap__body h5, .component-image-strap__body h6 {
  margin-top: 0;
}

.component-image-strap__body--color-override .base-accordion .base-accordion__content {
  background: none;
}

.component-image-strap__body--color-override a {
  text-decoration: underline;
}

.component-image-strap__body--color-override a:hover, .component-image-strap__body--color-override a:focus {
  color: inherit;
  text-decoration: none;
}

div.component-image-strap__bg-image {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: auto;
  height: 300px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  div.component-image-strap__bg-image {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
  }
}

.component-image-strap--image-right .component-image-strap__bg-image {
  left: auto;
  right: 0;
}

.component-image-strap__image {
  display: none;
}

@media (min-width: 992px) {
  .component-image-strap__image {
    display: none;
  }
}

.component-image-strap__buttons {
  clear: both;
}

.component-image-strap__buttons div {
  display: inline-block;
  vertical-align: top;
}

.component-webform-content {
  max-width: 1140px;
  margin: 20px auto;
  padding: 0;
}

.component-webform-content.paragraph--view-mode--full-width {
  padding-left: 15px;
  padding-right: 15px;
}

.component-webform-content__body {
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .component-webform-content__body {
    padding: 0 0 0 60px;
  }
}

.component-webform-content__body--webform-right {
  padding: 0;
}

@media (min-width: 992px) {
  .component-webform-content__body--webform-right {
    padding: 0 60px 0 0;
  }
}

.component-webform-content__form {
  margin: 0 0 40px 0;
  padding: 0;
}


.component-webform {
  margin: 0 0 40px 0;
  padding: 0;
}

.field--name-field-paragraphs-reference .btn-default, .field--name-field-paragraphs-reference-2 .btn-default {
  margin-bottom: 5px;
  color: #000 !important;
  outline: none;
  text-decoration: none !important;
}

.field--name-field-paragraphs-reference .btn-default:hover, .field--name-field-paragraphs-reference .btn-default:focus, .field--name-field-paragraphs-reference-2 .btn-default:hover, .field--name-field-paragraphs-reference-2 .btn-default:focus {
  color: #cc0000 !important;
}

.field--name-field-paragraphs-reference .btn-primary, .field--name-field-paragraphs-reference-2 .btn-primary {
  margin-bottom: 5px;
  color: #fff !important;
  outline: none;
  text-decoration: none !important;
}

.field--name-field-paragraphs-reference .btn-primary:hover, .field--name-field-paragraphs-reference .btn-primary:focus, .field--name-field-paragraphs-reference-2 .btn-primary:hover, .field--name-field-paragraphs-reference-2 .btn-primary:focus {
  color: #fff !important;
}



