/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

@media print {

  @page {
	  margin-top:0.5em;
  }

  a[href]:after {
    content: none !important;
  }

  a:link,
  a:visited { /* underline all links */
    text-decoration: underline !important;
  }

  #site-name a:link,
  #site-name a:visited { /* Don't underline header */
    text-decoration: none !important;
  }

  #content { /* Un-float the content */
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body,
  #page,
  #main,
  #content { /* Turn off any background colors or images */
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }
  #logo {
  	margin:0;
  }
  #page {
	  margin-top:0cm;
  }
  #page, #content {
    width:90%;
  }
  
  #logo {
    margin-top:0;
  }
  #header-phone {
    font-size:.6em;
  }
  .region-header {
    margin:0;
  }

  
  #left-section {
    width:90%;
    height: auto;
	margin:0;
	padding:0;
  }
  #main-nav a {
    display:inline;
    float:left;
    margin:.5em .3em .3em .3;
    border:none;
    font-size:0.9em;
  }
  
  #item-info {  
    margin-left:.5em;
  }
  article.node-item .field-name-body  { 
	  position: relative;
	  overflow: visible;
	  width: 50em;
  }
  #pikawrapper {
	  overflow: visible;
	  white-space: normal;
  }
  .jspContainer {
	  overflow: visible;
	  position: inherit;
  }
  .jspPane {
	  position: inherit;
  }
  
  #skip-link,
  #toolbar,
  #navigation,
  .region-left,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons,
  #promo, 
  footer,
  #block-search-form,
  #header div.item-list,
  #request-quote,
  .jspVerticalBar,
  .jspHorizontalBar,
  .sharethis-buttons,
  aside.content,
  .dialog-form,
  #stitch { /* Hide sidebars and nav elements */
    visibility: hidden;
    display: none;
  }

} /* End @media print */
