.white-font {
  color: #ffffff;
}
.black-font {
  color: #000;
}
.pink-font {
  color: #ef5063;
}
.italic-font {
  font-style:italic;
}
.sale-name {
  font-size:6.5em;
  font-family: Lobster,cursive;
}
.display-1 {
  font-size: 96px;
  font-size: 6rem;
  font-weight: 300;
}
.btn-important, .btn-critical, .btn-success {
  color: #FFFFFF;
  border: 2px solid #e56a54;
  background: #e56a54;
  background: #ef5063;
  border-color: #ef5063;
}
.display-4 {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 300;
}

@-webkit-keyframes spinner {
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(360deg);}
}
@keyframes spinner {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
body.page-promo-black-friday-sale {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #25272B;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
}
/* ==== Preloader ==== */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}

#status {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -32px 0 0 -32px;
}

#preloader .timer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 64px;
  height: 64px;
  margin: auto;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
  border-radius: 32px;
  text-indent: -9999px;
  -webkit-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
}
.featurette-divider2 {
  margin: 80px 0 0;
}

div.slideshow-row {
  padding: 2em;
}
.product-gallery {
  background-color: #dadce2;
  background-image: linear-gradient(140deg, white, #dadce2);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
div.cardContainer {
  position: relative;
  /*min-width: 300px;*/
  width:430px;
  /*width: 300px;
  height: 400px;
  min-height: 550px;*/
  /*margin: 4px;*/
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
div.slide-card {
  display: inline-block;
  width: 100%;
  height: 100%;
  /*cursor: pointer;*/
  -moz-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/*.slide-card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}*/
.slide-card:hover {
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
.slide-card:hover:after {
  opacity: 1;
}
.slide-card .inside {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*position: absolute;
  min-height: 650px;*/
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
}
.slide-card .card-info {
  padding: 16px;
}
.slide-card img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  /*height: 250px;*/
}
.product-gallery .slide-title {
  font-family: 'Proxima Nova Rg', serif;
  text-transform: uppercase;
  color: #333333;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.25em;
}
.product-gallery .slide-title .item-brand {
  color: #a5a7b0;
}
.product-gallery .desc {
  font-weight: 400;
  color: #555;
  line-height: 22px;
  font-size: 1.25em;
}
.product-gallery .slide-pricing {
  padding: 0.7em 0;
}
.price {
  font-size:1.5em;
  font-weight:bold;
  color: #333;
}
.price-crossed {
  font-weight:300;
  text-decoration:line-through;
  text-decoration-color: #787474;
}
.promo-price {
  text-transform: uppercase;
  color: #d32222;
}
.price-promo {
  font-weight:bold;
  color: #d32222;
}

.discount-label {
  padding:6px;
  position:relative;
  float:left;
  -webkit-border-radius:0 4px 0 4px;
  -moz-border-radius:0 4px 0 4px;
  border-radius:0 4px 4px 0;

}
.discount-label:after {
  right: 100%;
  border: solid transparent; content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(136, 183, 213, 0);

  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.discount-label:before {
  content: '';
  z-index: 2;
  position: absolute;
  top: 42%;
  right: 100%;
  width: 7px;
  height: 7px;
  opacity: .95;
  background: #ffffff;
  border-radius: 7px;
  -webkit-box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
  box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);

}
.discount-label span {
  color:#ffffff;
  font-size:20px;
  text-align:center;
  font-family:"Raleway",Helvetica;
}

.red{
  background-color:#E80707;
}
.red:after{
  border-right-color: #E80707;

}

.product-gallery button {
  text-transform: uppercase;
  background: none;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Open Sans';
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}
.product-gallery button[disabled], .product-gallery input[type=submit][disabled] {
  color: #d12028;
  background: #fff;
  border-color: #d12028;
  -webkit-transform: rotate(-15deg) scale(2) translateX(120%) translateY(-650%);
  -ms-transform: rotate(-15deg) scale(2) translateX(120%) translateY(-650%);
  transform: rotate(-15deg) scale(2) translateX(120%) translateY(-650%);
}

/* Responsive */
@media (max-width: 1310px) {
  div.cardContainer {
    width:350px;
  }
}
@media (max-width: 1100px) {
  div.cardContainer {
    width:300px;
  }
  .product-gallery button[disabled], .product-gallery input[type=submit][disabled] {
    -webkit-transform: rotate(-15deg) scale(2) translateX(80%) translateY(-650%);
    -ms-transform: rotate(-15deg) scale(2) translateX(80%) translateY(-650%);
    transform: rotate(-15deg) scale(2) translateX(80%) translateY(-650%);
  }
  .sale-name {
    font-size:5em;
  }
}
@media (max-width: 760px) {
  div.cardContainer {
    width:350px;
  }
  .product-gallery button[disabled], .product-gallery input[type=submit][disabled] {
    -webkit-transform: rotate(-15deg) scale(2) translateX(100%) translateY(-650%);
    -ms-transform: rotate(-15deg) scale(2) translateX(100%) translateY(-650%);
    transform: rotate(-15deg) scale(2) translateX(100%) translateY(-650%);
  }
  .sale-name {
    font-size:5em;
  }
}
@media (max-width: 480px) {
  div.cardContainer {
    width:400px;
    margin-top:1.5em;
  }
  div.slide-card {
    transform: none;
  }
}
