#requestFormContainer {
    clear: both;
}
#requestFormContainer * {
    -webkit-box-sizing:initial;
    box-sizing: initial;
}
#requestFormContainer form {
    background: #faf5f3;
    width: 600px;
    z-index: 10;
    padding: 60px 60px 80px;
    opacity: 0.85;
    position: relative;
    float: none;
    margin: 50px auto;
}
#requestFormContainer form h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: #2f1f1e;
    letter-spacing: 0.061em;
    margin-top: 60px;
    margin-bottom: 20px;
}
#requestFormContainer form h2.success {
    color: #356e64;
    margin-top: -40px;
    margin-bottom: 0px;
    padding: 0;
}
#requestFormContainer form p.success-dialog {
    margin-top: -150px;
    color: #356e64;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.8em;
    text-transform: uppercase;
}
#requestFormContainer form p.success-dialog a {
    color: #9d775f;
    text-decoration: none;
    transition: 0.8s all ease;
}
#requestFormContainer form p.success-dialog a:hover {
    color: #c08159;
    transition: 0.4s all ease;
}
#requestFormContainer form input, #requestFormContainer form textarea {
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
    box-shadow: none;
    appearance: none;
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #ebd7cf;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:10px;
    font-size: 16px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    color:#000;
}

#requestFormContainer form input:focus, #requestFormContainer form textarea:focus {
    border: 1px solid #ebd7cf;
    outline: none;
    appearance: none;
}
#requestFormContainer form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#requestFormContainer form input.error, #requestFormContainer form textarea.error {
    border: 1px solid #c00;
}
#requestFormContainer form .form-submit {
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    /*background: #ec7242;*/
    background: #ea2328;
    color: #fff;
    width: 101%;
    transition: 0.8s all ease;
}
#requestFormContainer form .form-submit:hover {
    background: #d6673c;
    transform: translateY(1px);
    transition: 0.4s all ease;
}

#request_firstName {
    margin-top: 20px;
}

#requestFormContainer .circle {
    padding: 15px;
    height: 25px;
    width: 25px;
    margin-top: -80px;
    /*margin-left: 115px;*/
    margin-left: 275px;
    position: absolute;
    z-index: 20;
    border-radius: 50%;
    clear: both;
    opacity: 0.8;
}

#requestFormContainer .circle-quill {
    border: 1px solid #ebd7cf;
    background: #fff;
}

#requestFormContainer .circle-paper {
    border: 1px solid #9ac0ba;
    background: #5d978e;
}

#requestFormContainer input[type=submit]:after, #requestFormContainer .loader, #requestFormContainer .loader2, #requestFormContainer .circle-paper, #requestFormContainer p.success-dialog, #requestFormContainer h2.success {
    visibility: hidden;
}

#requestFormContainer input[type=submit]:after {
    background: #8c6e7a;
    width: 291px;
    height: 45px;
    margin-top: -40px;
    margin-left: -4px;
    position: absolute;
    z-index: -1;
}

#requestFormContainer .loader, #requestFormContainer .loader2 {
    position: absolute;
    z-index: -5;
    margin-top: -45px;
    margin-left: 114px;
}
#requestFormContainer #webform-component-zip-code, #requestFormContainer .webform-component--zip-code {
   display:none;
}




section#sale-details {
    float: left;
    width: 350px;
    padding-right: 20px;
    font-size:1.3em;
}
aside#side-banner {
    clear: right;
}
div.renovation-sale-form-container {
    position: relative;
    text-align: center;
    bottom: 1em;
}
#renovationSaleForm {
    /*position: absolute;
    top: 2.5em;*/
    text-align: left;
    display: inline-block;
    margin-left: 1.5em;
}
.scissors-icon {
    position: relative;
    width: 53px;
    left: 45em;
    bottom: 1.25em;
}
.webform-caption-img {
    float: left;
}
#renovationSaleForm label, #renovationSaleForm .form-required {
    color: #444;
}
#renovationSaleForm label {
    width: 3.8em;
    display: block;
    float: left;
    margin: 0;
}
#renovationSaleForm div.form-group {
    padding: 0.2em 0;
}
#renovationSaleForm .form-component-city, #renovationSaleForm .form-component-zip, #renovationSaleForm .form-component-state {
    float: left;
}
#renovationSaleForm .form-component-zip, #renovationSaleForm .form-component-state {
    margin-left: 1em;
}
#renovationSaleForm .form-component-zip {
    clear: right;
}
#renovationSaleForm div.form-component-address input, #renovationSaleForm div.form-component-email input, #renovationSaleForm div.form-component-first-name input, #renovationSaleForm div.form-component-phone input {
    width: 23em;
}
#renovationSaleForm div.form-component-city input {
    width: 8em;
}
#renovationSaleForm div.form-component-state input {
    width: 2em;
}
#renovationSaleForm div.form-component-zip input {
    width: 4em;
}
#renovationSaleForm div.form-actions {
    margin: 0;
}
#renovationSaleForm form .form-submit {
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    background: #ec7242;
    color: #fff;
    width: 101%;
    transition: 0.8s all ease;
}
#renovationSaleForm form .form-submit:hover {
    background: #d6673c;
    transform: translateY(1px);
    transition: 0.4s all ease;
}
#renovationSaleForm form input, #renovationSaleForm form textarea {
    width: 100%;
    background: #fff;
    margin-bottom: 25px;
    box-shadow: none;
    appearance: none;
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #ebd7cf;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:10px;
    font-size: 16px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    color:#000;
}

#renovationSaleForm form input:focus, #renovationSaleForm form textarea:focus {
    border: 1px solid #ebd7cf;
    outline: none;
    appearance: none;
}
#renovationSaleForm form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#renovationSaleForm form input.error, #renovationSaleForm form textarea.error {
    border: 1px solid #c00;
}


/* STITCHED EFFECT */
/* stitch'd config */
/* stitch'd classes */
.stitch-top,
.stitch-bottom,
.stitch-left,
.stitch-right {
    position: absolute;
    -webkit-box-sizing: border-box;
}
.stitch-top,
.stitch-bottom {
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.8) 60%, transparent 60%, transparent 100%), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5) 60%, transparent 60%, transparent 100%);
    left: 0px;
    right: 0px;
    height: 2px;
    background-repeat: repeat-x;
    background-size: 15px 1px;
    background-position: 0px 0px, 0px 1px;
}
.stitch-top.bordered,
.stitch-bottom.bordered {
    right: 15px;
    left: 15px;
}
.stitch-left,
.stitch-right {
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.8) 60%, transparent 60%, transparent 100%), -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.5) 60%, transparent 60%, transparent 100%);
    width: 2px;
    top: 0px;
    bottom: 0px;
    background-repeat: repeat-y;
    background-size: 1px 15px;
    background-position: 0px 0px, 1px 0px;
}
.stitch-left.bordered,
.stitch-right.bordered {
    top: 15px;
    bottom: 15px;
}
.stitch-top {
    top: 10px;
}
.stitch-left {
    left: 10px;
}
.stitch-bottom {
    bottom: 10px;
}
.stitch-right {
    right: 10px;
}

#pants .content {
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    padding: .5em 1em 2em 1.5em;
    /*position: absolute;*/
}
#pants {
    /*width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.8);
    background-image: -webkit-linear-gradient(90deg, rgba(0, 61, 180, 0.4) 100%, rgba(0, 61, 180, 0.4) 100%), url(http://blissfulbeast.com/codepen/texture2.jpg);*/
    position: relative;
}
#pocket {
    /*width: 400px;
    height: 160px;
    position: absolute;
    right: 10%;
    top: 20%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    background-image: url(http://blissfulbeast.com/codepen/texture1.jpg);*/
}

/* \STITCHED EFFECT */
