
/* GLOBAL */
/* Global Styles */
.isInFullScreen {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	width: 100% !important;
	height: 100% !important;
	margin: auto !important;
	z-index: 10000 !important;
}

.mSCaption {
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
	    -ms-transform: translateZ(0);
			transform: translateZ(0);
}
/* \GLOBAL */


/* MODERN SKIN CSS */
.mightyslider_modern_skin {
	position: relative;
	background: #000;
}

.mightyslider_modern_skin .frame {
	-webkit-perspective: 1000px;
		-ms-perspective: 1000px;
			perspective: 1000px;
	-webkit-perspective-origin: 50% 50%;
		-ms-perspective-origin: 50% 50%;
			perspective-origin: 50% 50%;
}

.mightyslider_modern_skin .frame .slide_element {
	-webkit-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
			transform-style: preserve-3d;
}

.mightyslider_modern_skin .frame .slide_element .slide {
	overflow: hidden;
	-webkit-transform: translateZ(0);
	    -ms-transform: translateZ(0);
	        transform: translateZ(0);
}

.mightyslider_modern_skin.horizontal .frame .slide_element .slide {
	float: left;
}

/* Navigation Buttons */
.mightyslider_modern_skin .mSButtons {
	position: absolute;
	background: url('../images/mightyslider/arrows_horizontal.png') no-repeat 50%;
	width: 100px;
	height: 100%;
	margin: auto;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 1000;
	
	-webkit-transition: opacity 0.3s;
		-ms-transition: opacity 0.3s;
		 -o-transition: opacity 0.3s;
			transition: opacity 0.3s;
}

.mightyslider_modern_skin.mSMedia .mSButtons {
	display: none;
}

.mightyslider_modern_skin.black .mSButtons {
	background-image: url('../images/mightyslider/arrows_horizontal_black.png');
}

.mightyslider_modern_skin .mSButtons:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mightyslider_modern_skin.vertical .mSButtons {
	width: 100%;
	height: 100px;
	background-image: url('../images/mightyslider/arrows_vertical.png');
}

.mightyslider_modern_skin.vertical.black .mSButtons {
	background-image: url('../images/mightyslider/arrows_vertical_black.png');
}

.mightyslider_modern_skin.horizontal .mSNext {
	top: 0;
	bottom: 0;
	right: 0;
	background-position: -100px 50%;
}

.mightyslider_modern_skin.horizontal .mSPrev {
	top: 0;
	bottom: 0;
	left: 0;
	background-position: 0 50%;
}

.mightyslider_modern_skin.vertical .mSNext {
	left: 0;
	right: 0;
	bottom: 0;
	background-position: 50% -100px;
}

.mightyslider_modern_skin.vertical .mSPrev {
	left: 0;
	right: 0;
	top: 0;
	background-position: 50% 0;
}

.mightyslider_modern_skin .mSButtons.disabled {
	display: none;
}

.mightyslider_modern_skin .mSIcon {
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	*left: 43%;
	*top: 43%;
	z-index: 1000;
}

.mightyslider_modern_skin .mSLoader {
	width: 80px;
	height: 80px;
	background: #000 url('../images/mightyslider/loader.gif') no-repeat center;
	opacity: 0.65;
	filter: alpha(opacity=65);

	-webkit-border-radius: 3px;
	        border-radius: 3px;
}

.mightyslider_modern_skin .mSLoader ~ .mSIcon {
	display: none;
}

.mightyslider_modern_skin .mSVideo, .mightyslider_modern_skin .mSFlash, .mightyslider_modern_skin .mSIframe {
	width: 77px;
	height: 77px;
	background: url('../images/mightyslider/icon-play.png') no-repeat center;
	background-color: #111;
	background-color: rgba(0,0,0,0.6);
	cursor: pointer;
	overflow: hidden;
	opacity: 0.85;
	filter: alpha(opacity=85);

	-webkit-border-radius: 3px;
	        border-radius: 3px;

	-webkit-transition: opacity 135ms linear;
	   -moz-transition: opacity 135ms linear;
        -ms-transition: opacity 135ms linear;
         -o-transition: opacity 135ms linear;
		    transition: opacity 135ms linear;
}

.mightyslider_modern_skin .mSIframe {
	background-image: url('../images/mightyslider/icon-view.png');
}

.mightyslider_modern_skin .mSVideo:hover, .mightyslider_modern_skin .mSFlash:hover, .mightyslider_modern_skin .mSIframe:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mightyslider_modern_skin .mSClose {
	width: 22px;
	height: 22px;
	background: url('../images/mightyslider/icon-close.gif') no-repeat center;
	cursor: pointer;
	top: 20px;
	right: 20px;
	left: auto;
	bottom: auto;
	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: all 135ms linear;
	   -moz-transition: all 135ms linear;
        -ms-transition: all 135ms linear;
         -o-transition: all 135ms linear;
		    transition: all 135ms linear;
}

.mightyslider_modern_skin:hover .mSClose {
	opacity: 1;
	filter: alpha(opacity=100);
}

/* Thumbnails */
.mightyslider_modern_skin .mSThumbnails {
	position: absolute;
	background: rgba(255,255,255,0.2);
	padding: 5px;
	z-index: 1002;
	overflow: hidden;

	-webkit-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	   -moz-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        -ms-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
		    transition: all 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.mightyslider_modern_skin.black .mSThumbnails {
	background: rgba(255,255,255,0.7);
}

.mightyslider_modern_skin.horizontal .mSThumbnails {
	padding-top: 50px;
	bottom: -112px;
	left: 0;
	right: 0;
	height: 102px;
}

.mightyslider_modern_skin.vertical .mSThumbnails {
	right: -135px;
	top: 0;
	bottom: 0;
	width: 120px;
}

.mightyslider_modern_skin.horizontal .mSThumbnails:hover {
	bottom: 0;
	padding: 5px;
}

.mightyslider_modern_skin.horizontal.mSMedia .mSThumbnails {
	display: none;
}

.mightyslider_modern_skin.vertical:hover .mSThumbnails {
	right: -120px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.mightyslider_modern_skin.vertical .mSThumbnails:hover {
	right: 0;
	padding: 5px;
}

.mightyslider_modern_skin.vertical.mSMedia .mSThumbnails {
	display: none;
}

.mightyslider_modern_skin .mSThumbnails ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	line-height: 0px;
}

.mightyslider_modern_skin.horizontal .mSThumbnails ul {
	height: 102px;
	white-space: nowrap;
}

.mightyslider_modern_skin.vertical .mSThumbnails ul {
	width: 120px;
}

.mightyslider_modern_skin .mSThumbnails ul li {
	padding: 0;
	border: 1px solid transparent;
	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	   -moz-transition: opacity 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        -ms-transition: opacity 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition: opacity 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
		    transition: opacity 700ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.mightyslider_modern_skin .mSThumbnails:hover ul li {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mightyslider_modern_skin .mSThumbnails ul li.active {
	border-color: #5cc3f6;
}

.mightyslider_modern_skin.horizontal .mSThumbnails ul li {
	display: inline-block;
	max-height: 100px;
	cursor: pointer;
	margin-right: 5px;
}

.mightyslider_modern_skin.vertical .mSThumbnails ul li {
	display: block;
	max-width: 134px;
}

.mightyslider_modern_skin .mSThumbnails ul li img {
	padding: 0;
	margin: 0;
}

.mightyslider_modern_skin.horizontal .mSThumbnails ul li img {
	height: 100px;
}

.mightyslider_modern_skin.vertical .mSThumbnails ul li img {
	width: 120px;
}

/* Pages */
.mightyslider_modern_skin .mSPages {
	/*position: absolute;*/
	padding: 10px 0;
	margin: .5em auto 0;
	/*height: 12px;*/
	list-style: none;
	/*bottom: 6px;*/
	/*right: 0;*/
	/*left: 0;*/
	z-index: 1003;
	overflow: hidden;
	text-align: center;
	line-height: 0px;
	pointer-events: none;

	-webkit-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	   -moz-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        -ms-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
		    transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.mightyslider_modern_skin.horizontal .mSThumbnails:hover + .mSPages {
	bottom: 60px;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 1001;
}

.mightyslider_modern_skin.mSMedia .mSPages {
	display: none;
}

.mightyslider_modern_skin .mSPages li {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: rgba(0,0,0,0);
	margin: 0 10px;
	margin-top: 2px;
	text-indent: -9999px;
	border: 1px solid #FFF;
	cursor: pointer;
	vertical-align: top;
	pointer-events: all;
	
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

.mightyslider_modern_skin .mSPages li.active {
	background: #FFF;
	width: 12px;
	height: 12px;
	margin: 0 10px;
}

.mightyslider_modern_skin.black .mSPages li {
	border-color: #000;
}

.mightyslider_modern_skin.black .mSPages li.active {
	background: #000;
}

.mightyslider_modern_skin.isTouch .mSPages {
	padding: 10px 0;
	height: 18px;
	bottom: 6px;
}
.mightyslider_modern_skin.isTouch .mSPages li {
	/*width: 14px;*/
	/*height: 14px;*/
}

.mightyslider_modern_skin.isTouch .mSPages li.active {
	/*width: 18px;*/
	/*height: 18px;*/
}

.mightyslider_modern_skin.horizontal .mSThumbnails + .mSPages li {
	pointer-events: none;
}

/* Performance for Touch Devices */
.mightyslider_modern_skin.isTouch .mSClose {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mightyslider_modern_skin.isTouch .mSButtons {
	opacity: 1;
	filter: alpha(opacity=100);
}

.mightyslider_modern_skin.horizontal.isTouch .mSThumbnails {
	bottom: -80px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.mightyslider_modern_skin.vertical.isTouch .mSThumbnails {
	right: -120px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.mightyslider_modern_skin.horizontal.isTouch .mSThumbnails + .mSPages {
	bottom: 20px;
}
.mightyslider_modern_skin .mSPages {
	background: #ccc;
	/*width: 15em;*/
	/*margin-bottom: 1em;*/
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
.mightyslider_modern_skin .mSPages li {
	margin-top:-3px;
}
.mightyslider_modern_skin .mSPages li.active {
	margin-top:-5px;
}

/* \MODERN SKIN CSS */



#image-gallery {
	/*height: 500px;*/
	height:100%; /*240px;*/
	overflow: hidden;
	margin-top: 10px;
	background: transparent;
}
#image-gallery .mSButtons {
	height: 80%;
}
#image-gallery .frame {
	width: 100%;
	height: 100%;
}
#image-gallery .frame .slide_element {
	height: 100%;
}
#image-gallery .frame .slide_element > div {
	float: left;
	height: 100%;
	overflow: hidden;
}
#image-gallery .frame .mSCover img {
	max-width: none;
}
#image-gallery .credit {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 11px;
	line-height: normal;
	font-weight: 300;
	text-shadow: rgba(0,0,0,0.7) 0 1px 0px;
	color: #CCC;
	background: #000;
	background: rgba(0,0,0,0.6);
	padding: 0 4px;
	white-space: nowrap;
	z-index: 1002;
	text-transform: uppercase;
}
#image-gallery .credit a {
	color: #FFF;
	font-weight: 400;
}
.infoBlock {
	position: absolute;
	top: 30px;
	right: 30px;
	left: auto;
	max-width: 30%;
	padding-bottom: 0;
	background: #FFF;
	background: rgba(255, 255, 255, 0.6);
	overflow: hidden;
	padding: 20px;
	z-index: 1002;
}
.infoBlockLeftBlack {
	color: #FFF;
	background: #000;
	background: rgba(0,0,0,0.55);
	left: 90px;
	right: auto;
	opacity: 0;
}
.infoBlock2 {
	top: 90px;
	left: 100px;
}
.infoBlock h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	margin: 0;
	padding-bottom: 3px;
}
.infoBlock p {
	font-size: 16px;
	font-weight: 300;
	margin: 4px 0 0;
}
.infoBlock a {
	color: #FFF;
	text-decoration: underline;
}
/*
@media (max-width: 979px) {
	#image-gallery {
		height: 400px;
		margin-top: 0;
	}
	.infoBlock {
		min-width: 40%;
	}
}

@media (max-width: 768px) {
	#image-gallery {
		margin: 0 -20px;
		height: 300px;
	}
	.infoBlock {
		padding: 10px;
		height: auto;
		max-height: 100%;
	}
	.infoBlock h4 {
		font-size: 14px;
		line-height: 17px;
	}
	.infoBlock p {
		font-size: 12px;
	}
}*/

#thumbs-wrapper {
	width:100%;
	text-align: center;
	margin:.4em 0 2em 0;
	
	position: relative;
}
#thumbs {
	margin:0 auto;
}
#thumbs li {
	width:100px;
	margin: 0 .2em;
	display: inline;
}
#thumbs {
	float: none;
	width: 100%;
}



/* SLICK */
#image-gallery .slick-slider {
    margin-bottom: 0;
    position:relative;
}
#image-gallery ul.slickslide {
    padding-left:0;
    max-width:100%;
    padding-bottom:65px;
}
#image-gallery .slick-slider .slick-track {
    min-width:100%;
}
#image-gallery ul.slickslide li img, #image-gallery .slick-dots button img {
    width:100%;
    height:auto;
}
#image-gallery .slick-dots {
    bottom:0;
    top:auto;
    left:auto;
    right:auto;
    position:absolute;
    line-height:0;
    background: rgba(128,128,128,0.5);
}

#image-gallery .slick-dots li, #image-gallery .slick-dots li button:before {
    /* width: 100px;
     height:100px; */
    margin:0;
    padding:0;
}
#image-gallery .slick-dots li {
    margin: 5px; border:1px solid #ccc; display:inline-block; width:auto;height:auto;
}

#image-gallery .slick-slider .slick-track {
    min-width:100%;
}
.slick-slider img {
    margin: 0 auto;
}
#image-gallery .slick-dots li button {
    margin:0;
    height:auto;
    width:100%;
    padding:0;

}

#image-gallery .slick-dots li button.tab { clear:both;   display:block;}
#image-gallery .slick-dots li button img { width:100%; max-width:80px; height:auto;   }
#image-gallery .slick-dots li button:before {
    content:''; border:1px solid #f00;display:block; width:100%;  max-width:150px; overflow:hidden; float:none;  position:absolute;
    width:100%;
    height:100%}

#image-gallery .slick-thumbs {
    position:absolute;
    left: -9999px;
}

/* BAUFORMAT Page */
#bauformat-slider {
    padding-bottom:50px;
}
/* \BAUFORMAT Page */