/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-size: 83%;
  line-height:1.5em;
  padding: 10px;
  background:  #e6e7e8;
}
html, body, button, input, select, textarea, .ui-widget {
    /*font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
body > header {
  line-height: 1.1em;
}
a#logo img {
  float: left;
  margin-right: 1em;
}
h1#site-name {
  margin: 0;
  padding-top: 1em;
}
h2#site-slogan {
  margin-top: .5em;
  font-size: 1em;
}
h2.field-label {
	margin-bottom:.3em;
}
section[role=main] {
  margin-top: 2em;
}
section[role=main] article.node {
  background: #fff;
  border: 1px solid #999;
  border-radius: .5em;
  margin-bottom: 2em;
  padding: 1em;
}
article > header > h1 {
  margin-top: 0;
}
section#comments {
  background: #ddd;
  border: 1px solid #999;
  border-radius: .5em;
  margin-bottom: 2em;
  padding: 1em;
}
section#comments article.comment {
  background: #eee;
  border: 1px solid #999;
  border-radius: .5em;
  margin-bottom: 2em;
  padding: 1em;
}
#supplementary .block {
  background: #ddd;
  border: 1px solid #999;
  border-radius: .5em;
  margin-bottom: 2em;
  padding: 1em;
}
nav ul.menu {
  padding: 0;
}
nav ul.menu li {
  list-style: none;
  margin: 0;
}
nav ul.menu li a,
nav ul#main-menu li a,
nav ul#secondary-menu li a {
  background: #555;
  border: 1px solid #999;
  border-radius: .5em;
  color: #fff;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}


.furn-red, .furn-e3  {
	color:#981b1e;
}
body, .furn-grey, a.furn-grey, a.furn-grey:visited, .furn-grey a {
	color:#6d6e71;
}
hr.furn-red {
	padding: 0;
	margin: 1.5em 20px;
	border: none;
	background-color: #981b1e;
	clear:both;
}
.furn-bg-grey {
	color:#e6e7e8;
}
.furn-ucase, .furn-ucase a, #webform-component-label {
	text-transform: uppercase;
	font-size:1em;
	font-weight: 300;
}
.furn-e2-a {
	font-size: 1.1em;
	text-transform: uppercase;
}
.furn-e3 {
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 1px solid grey;
	clear:both;
}
.furn-button-text {
	padding: .7em .3em;
	font-size: 1.2em;
	text-transform: uppercase;
	color: white;
	margin-top: 2.5em;
	display: block;
	text-align: center;
	font-weight: 400;
	
	background: #981b1e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk4MWIxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MjE0MTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #981b1e 0%, #721418 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#981b1e), color-stop(100%,#721418)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #981b1e 0%,#721418 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #981b1e 0%,#721418 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #981b1e 0%,#721418 100%); /* IE10+ */
	background: linear-gradient(to bottom, #981b1e 0%,#721418 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#981b1e', endColorstr='#721418',GradientType=0 ); /* IE6-8 */
}
#container {
	left:0;
	position: absolute;
	background: #e6e7e8;
	max-width:640px; /* galaxy s4 - 640px - landscape */
	overflow:hidden;
	width: 100%;
}
body.revive #container {
  max-width: 760px;
}

/*header, #footer, #highlighted, #product-info {*/
#container {
	padding:0 15px;
}
#container-inner, #container {
    width: 100%;
    overflow: hidden;
    display: block;
}
/*article.node-teaser header {
	padding: 0;
}*/
#main-nav li a.active, #main-nav li a.active:link, #main-nav li a.actve:visited {
  background: transparent;
  border-color: #000;
  color: #981b1e;
}
h1.title {
	border-bottom: 1px solid grey;
	padding-bottom: .2em;
}

/* PAGE TOP */
a.main-phone {
	position: relative;
	top: 1em;
	font-size: 1.23em;
	font-weight: 400;
}
div.store-phone a.main-phone {
	left: 0;
	top:.5em;
	font-size:1.05em;
	position: relative;
}
div.region-page-top {
	clear:both;
}
#menu-toggle {
	position: relative;
	top: .5em;
}
#close-toggle {
  position: absolute;
  top: 15px;
  right: 40px;
  color: white;
}
#close-toggle img {
  vertical-align: top;
  padding-left: 5px;
}
div.region-page-top ul.menu {
	height: 3em;
	padding:2em 0 4em 0;
}
div.region-page-top ul.menu li {
	display:inline;
	border-right: 1px solid #981b1e;
	padding-right: 5%;
	margin-left: 4%;
}
div.region-page-top ul.menu li.first {
	margin:0;
	padding: 0;
	border: none;
}
div.region-page-top ul.menu li.last {
	border-right: none;
	padding-right: 0;
}
div.region-page-top ul.menu li a {
	font-weight: 400;
}

#breadcrumb {
	margin-top: .7em;
	border-bottom: 1px solid grey;
}
#breadcrumb span.active-breadcrumb {
	font-size: 1.1em;
}
#breadcrumb span.separator {
	padding: 0 .3em;
}

#edit-search-block-form--2, #webform-client-form-33 input.form-email, #edit-keys {
	position: relative;
	bottom: .7em;
	width: 81%;
	border: 1px solid grey;
	padding: .4em 0 .4em 0em;
	text-align: center;
	color: #6d6e71;
}
#edit-basic label {
	display: none;
}
#edit-search-block-form--2 {
	background:white url(../images/icons_logos/search_icon_20x20.png) 2% 50% no-repeat;
}
#webform-client-form-33 input.form-email  {
	bottom: 1em;
	padding-bottom: .5em;
	/* float: left; */
	width: 100%;
}
#webform-client-form-33 #webform-component-email {
	float: left;
	margin-right: .3em;
	width: 81%;
	position: relative;
}
#webform-client-form-33 #webform-component-email label {
	display: none;
}
#webform-component-label, #webform-client-form-33 div.form-actions {
	margin:0;
	/* float: left; */
}
#webform-component-label p {
	margin:.4em 0;
}
/* \PAGE TOP */

/* LEFT MENU BLOCK */
#main-nav {
	width: 255px;
	height:100%;
	display: block;
	background:black;
	padding: 0 0 0 20px;
  position: absolute;
  bottom: 0;
  left: -270px;
  z-index: 9998;
  height: 100%;
  top: 0;
}
#main-nav.active {
    height: auto;
    overflow: visible;
}
.mobile-menu-background {
    background: black;
    margin: 0;
    position: absolute;
    width: 255px;
    top: 0;
    bottom: 0;
    left: -255px;
    z-index: 9997;
    display: block;
    height: 100% !important;
}
#main-nav.active, .mobile-menu-background.active {
    display: block;
}
#main-nav-links {
	margin-top: 20px;
}
#main-nav .ui-accordion-header, #main-nav .ui-accordion-content {
	border-radius: 0;
	background: transparent;
	border: none;
}
#main-nav .ui-state-default a, #main-nav .ui-state-default a:link {
	color: #939598;
	font-size: 1.6em;
	text-transform: uppercase;
	border-bottom: 1px solid #939598;
	display: block;
	padding:.6em .5em 0 0;
}
#main-nav .ui-state-default a.active, #main-nav .ui-state-default a.active:link {
	color:#981b1e;
}
#full-site, #catalogs, span.menu-label {
	color: #FFFFFF;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px solid grey;
	display: block;
}
#full-site, #catalogs {
	border: none;
	margin:1em 0;
}
#main-nav ul.links {
	margin-top:1em;
}
#main-nav ul.links li {
	display: inline;
	margin: 0;
	padding: 0;
}
#main-nav ul.links li a {
	font-size:1.1em;
}
/* \LEFT MENU BLOCK */

/* CONTENT-BOTTOM MENU */
#supplementary {
	margin-top:2em;
}
h3.ui-accordion-header {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid grey;
	background: transparent;
	padding:0 0 .2em 0;
}
#supplementary div.ui-accordion-content a,  #supplementary div.ui-accordion-content a:visited {
	text-transform: uppercase;
	color: #6d6e71;
	font-size:1.2em;
}
h3.ui-accordion-header a, h3.ui-accordion-header a:link, h3.ui-accordion-header a:visited {
	text-transform: uppercase;
	font-size: 1.5em;
}
#supplementary .ui-accordion-content {
	padding: .3em 0 .3em .5em;
}
.ui-widget-content {
	background: transparent;
	border: none;
}
#supplementary .item-list ul li {
	list-style:none;
	margin:.5em 1.5em 0.25em 0.5em;
}
.ui-accordion .ui-accordion-header {
	padding: .7em 0 0em 0;
	background: transparent url(../images/icons_logos/arrow_down_10x6.png) 98% 60% no-repeat;
	border: none;
	border-bottom: 1px solid grey;
	border-radius: 0;
}
#supplementary .ui-accordion .ui-accordion-header a, #supplementary .ui-accordion .ui-accordion-header a:visited {
	text-transform: uppercase;
	color:#981b1e;
}
.ui-accordion .ui-accordion-header-active {
	background: transparent url(../images/icons_logos/arrow_up_10x6.png) 98% 60% no-repeat;
}
#supplementary .ui-state-default a {
	font-weight: 300;
}
/* \CONTENT-BOTTOM MENU */

/* GALLERY */
main ul.furn-gallery {
	margin:0;
	padding:0;
}
main ul.furn-gallery li {
	float:left;
	list-style:none;
	margin:0 .5em 2em 0;
	height:145px;
}
main ul.furn-gallery li h2 {
	font-size:1.385em;
	font-size:1.23em;
	text-transform: uppercase;
}
main ul.furn-gallery li h2 a.title {
	font-weight:400;
}
.search-results .title, main ul.furn-gallery li h2 a.title {
	font-size: .62em;
}
article header h2 {
	margin:0;
	padding:0;
}
.uc-price {
	font-weight: 400;
}
div.sell-price .uc-price, div.sell-price .uc-price-label {
	color: #981b1e;
	font-weight: 400;
}
div.old-price, span.promo-price {
	float:left;
}
span.promo-price {
	position: relative;
	bottom: .2em;
	left: .7em;
}
div.old-price .uc-price {
	text-decoration: line-through;
	font-size:.9em;
}
div.sell-price {
	clear: both;
}
body.gallery-list main ul.furn-gallery li {
	clear: both;
	border-bottom: 1px solid grey;
	margin-right: 20px;
	float: none;
	padding-bottom: 15px;
}
body.gallery-list main ul.furn-gallery li article img {
	float:left;
}
body.gallery-list main ul.furn-gallery li h2 {
	left: 1em;
	top: .7em;
	position: relative;
}
body.gallery-list main ul.furn-gallery .item-details {
	position: relative;
	top: 1em;
	left: 1.2em;
	float:left;
}
div.view-filters {
	float: left;
}
.views-exposed-form label {
	font-weight: 300;
	text-transform: uppercase;
}
div.gallery-prefs, #scroll-top {
	float: left;
	margin-top: .7em;
}
ul.brands-list {
  padding:0;
  margin:0;
}
ul.brands-list span.row {
  width: 100%;
}
ul.brands-list li {
  list-style-type: none;
  float: left;
  padding: 1em;
  width: 49%;
  text-align: center;
  line-height: 80px;
  border: 1px solid lightgrey;
  height: 80px;
}
/* \GALLERY */

/* PRODUCT PAGE */
article h1.title {
	font-size: 1.5em;
	font-weight: 400;
	letter-spacing: 0;
	margin: 1em 0 .2em 0;
}
article .field .field-label, article .model, article .product-info-label {
	font-weight: 300;
	text-transform: uppercase;
}
#product-additional  .product-info-label, #product-additional  .field .field-label  {
	display: block;
	text-decoration: underline;
}
article .field-name-field-alu .field-label {
	float: left;
}
#pricing {
	float: left;
	width: 50%;
	text-align: center;
	padding-right: 1em;
}
#item-brand {
	float: left;
	clear: right;
	border-left: 1px solid grey;
	height: 8em;
	padding-left: 1em;
}
#item-brand div.field-name-field-availability {
	position:relative;
	top:1em;
}
#item-brand .brand-img {
	position: relative;
	top: 2.3em;
}
#pricing .item-info-p, #pricing div.sell-price {
	margin: 0.5em auto;
}
#pricing label, #pricing div.sell-price {
	display: inline;
	font-size: 1.2em;
	font-weight: 400;
}
#pricing label {
	display:none; /*temp*/
}
#product-additional {
	clear:both;
	padding-bottom: 3em;
}
#product-additional .ui-widget-content {
	color:#6d6e71;
}
#product-additional.ui-accordion .ui-accordion-content {
	padding: 0;
}
article span.favorites a, article span.favorites a:visited {
	font-size: 1.1em;
	color: #6d6e71;
	text-transform: uppercase;
}
article .sharethis-buttons {
	margin-top:.7em;
}
article #scroll-top {
	float: left;
	clear:left;
	margin-top: 2em;
}
/* \PRODUCT PAGE */

/* PAGER */
.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
	padding: 1em 0 0 0;
	text-align: center;
}
.item-list .pager li { /* Each page number in the pager list */
	padding: 0 0.7em;
	font-weight: 100;
	display: inline;
	margin: 0 0em 0em .1em;
	font-size: 1.2em;
}
.item-list .pager li.pager-current {
	color:#981b1e;
} 
.item-list .pager li.with-separator {
	border-right: 1px solid #6d6e71;
}
ul.pager a li, ul.pager li a {
	text-transform: uppercase;
	text-decoration: none;
	color:#6d6e71;
}
/* \PAGER */

/* STORES PAGE */
div.store-phone {
	float:left;
}
section.store-info {
	margin-top:1em;
	font-size:.9em;
}
section.store-info div.map {
	border:2px solid #981b1e;
}
section.store-info p.info-left {
	float: left;
	width: 55%;
}
section.store-info .phone, section.store-info span.store-address,  section.store-info span.working-hours {
	font-weight: 400;
}
section.store-info p.info-right {
	border-left: 1px solid grey;
	padding-left: .5em;
	float: right;
	width: 45%;
}
section.store-info span.location-label {
	top: 1em;
	position: relative;
}
section.store-info span.store-subtext {
	position: relative;
	top:.5em;
}
#faq-questions {
	padding: 0 0 0 2em;
}
#faq-questions li a {
	text-decoration: underline;
}
/* \STORES PAGE */

/* FOOTER */
#footer {
	margin-top:2em;
}
#footer footer {
	border-top:1px solid #6d6e71;
	border-bottom:1px solid #6d6e71;
	padding:1em 0 1.3em 0;
}
#email-us, #social-icons {
	margin-top:1em;
}
#email-us, #email-us-contact  {
	float: left;
	width: 11em;
	height: 3.5em;
}
#email-us-contact {
	float: right;
	margin-right: 2em;
}
#email-us span, #email-us-contact span {
	display: block;
	position: relative;
	bottom: 2.8em;
	left: 2.7em;
}
#social-icons {
	clear: both; 
	padding-top: 1em; 
}
/* \FOOTER */

div.webform-confirmation {
	background: #d3ffb4;
	border: 2px solid green;
	padding: 0 .5em;
	margin: 1em 0;
	color: #981b1e;
	font-size: 1.2em;
}

#banner {
	text-align:center;
	margin-top:1em;
}
