@font-face {
  font-family: 'EB Garamond 12';
  src: url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Regular.eot');
  src: local('EB Garamond 12 Regular'), local('EBGaramond12-Regular'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Regulard41d.eot?#iefix') format('embedded-opentype'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Regular.html') format('woff2'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Regular.woff') format('woff'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Regular-2.html') format('truetype'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Regular.svg#EBGaramond12-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond 12';
  src: url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Italic.eot');
  src: local('EB Garamond 12 Italic'), local('EBGaramond12-Italic'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Italicd41d.eot?#iefix') format('embedded-opentype'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Italic.html') format('woff2'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Italic.woff') format('woff'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Italic-2.html') format('truetype'),
  url('/sites/all/themes/furnitheme/fonts/EBGaramond12-Italic.svg#EBGaramond12-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('/sites/all/themes/furnitheme/fonts/ProximaNova-BoldIt.eot');
  src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-BoldItd41d.eot?#iefix') format('embedded-opentype'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-BoldIt.html') format('woff2'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-BoldIt.woff') format('woff'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-BoldIt-2.html') format('truetype'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('/sites/all/themes/furnitheme/fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Boldd41d.eot?#iefix') format('embedded-opentype'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Bold.html') format('woff2'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Bold.woff') format('woff'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Bold-2.html') format('truetype'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('/sites/all/themes/furnitheme/fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Regulard41d.eot?#iefix') format('embedded-opentype'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Regular.html') format('woff2'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Regular.woff') format('woff'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Regular-2.html') format('truetype'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('/sites/all/themes/furnitheme/fonts/ProximaNova-RegularIt.eot');
  src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-RegularItd41d.eot?#iefix') format('embedded-opentype'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-RegularIt.html') format('woff2'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-RegularIt-2.html') format('truetype'),
  url('/sites/all/themes/furnitheme/fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: normal;
  font-style: italic;
}
