@font-face {
  font-family: 'EB Garamond 12';
  src: url('../fonts/EBGaramond12-Regular.eot');
  src: local('EB Garamond 12 Regular'), local('EBGaramond12-Regular'),
  url('../fonts/EBGaramond12-Regulard41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/EBGaramond12-Regular.html') format('woff2'),
  url('../fonts/EBGaramond12-Regular.woff') format('woff'),
  url('../fonts/EBGaramond12-Regular-2.html') format('truetype'),
  url('../fonts/EBGaramond12-Regular.svg#EBGaramond12-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond 08';
  src: url('https://www.natuzzi.us/promotions/font/EBGaramond08-Italic.eot');
  src: local('EB Garamond 08 Italic'), local('EBGaramond08-Italic'),
  url('https://www.natuzzi.us/promotions/font/EBGaramond08-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/EBGaramond08-Italic.html') format('woff2'),
  url('../fonts/EBGaramond08-Italic.woff') format('woff'),
  url('../fonts/EBGaramond08-Italic-2.html') format('truetype'),
  url('../fonts/EBGaramond08-Italic.svg#EBGaramond08-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'EB Garamond 08';
  src: url('../fonts/EBGaramond08-Regular.eot');
  src: local('EB Garamond 08 Regular'), local('EBGaramond08-Regular'),
  url('../fonts/EBGaramond08-Regulard41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/EBGaramond08-Regular.html') format('woff2'),
  url('../fonts/EBGaramond08-Regular.woff') format('woff'),
  url('https://www.natuzzi.us/promotions/font/EBGaramond08-Regular.ttf') format('truetype'),
  url('https://www.natuzzi.us/promotions/font/EBGaramond08-Regular.svg#EBGaramond08-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond SC 08';
  src: url('../fonts/EBGaramondSC08-Regular.eot');
  src: local('EB Garamond SmallCaps 08 Regular'), local('EBGaramondSC08-Regular'),
  url('../fonts/EBGaramondSC08-Regulard41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/EBGaramondSC08-Regular.html') format('woff2'),
  url('../fonts/EBGaramondSC08-Regular.woff') format('woff'),
  url('../fonts/EBGaramondSC08-Regular-2.html') format('truetype'),
  url('../fonts/EBGaramondSC08-Regular.svg#EBGaramondSC08-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond 12';
  src: url('../fonts/EBGaramond12-Italic.eot');
  src: local('EB Garamond 12 Italic'), local('EBGaramond12-Italic'),
  url('../fonts/EBGaramond12-Italicd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/EBGaramond12-Italic.html') format('woff2'),
  url('../fonts/EBGaramond12-Italic.woff') format('woff'),
  url('../fonts/EBGaramond12-Italic-2.html') format('truetype'),
  url('../fonts/EBGaramond12-Italic.svg#EBGaramond12-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'EB Garamond 12 All SC';
  src: url('../fonts/EBGaramond12-AllSC.eot');
  src: local('EB Garamond 12 Regular All SmallCaps'), local('EBGaramond12-AllSC'),
  url('../fonts/EBGaramond12-AllSCd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/EBGaramond12-AllSC.html') format('woff2'),
  url('../fonts/EBGaramond12-AllSC.woff') format('woff'),
  url('../fonts/EBGaramond12-AllSC-2.html') format('truetype'),
  url('../fonts/EBGaramond12-AllSC.svg#EBGaramond12-AllSC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond SC 12';
  src: url('../fonts/EBGaramondSC12-Regular.eot');
  src: local('EB Garamond SmallCaps 12 Regular'), local('EBGaramondSC12-Regular'),
  url('../fonts/EBGaramondSC12-Regulard41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/EBGaramondSC12-Regular.html') format('woff2'),
  url('../fonts/EBGaramondSC12-Regular.woff') format('woff'),
  url('../fonts/EBGaramondSC12-Regular-2.html') format('truetype'),
  url('../fonts/EBGaramondSC12-Regular.svg#EBGaramondSC12-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
  url('../fonts/ProximaNova-Semiboldd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Semibold.html') format('woff2'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold-2.html') format('truetype'),
  url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-Light.eot');
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
  url('../fonts/ProximaNova-Lightd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light.html') format('woff2'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light-2.html') format('truetype'),
  url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src: url('../fonts/ProximaNova-ExtrabldIt.eot');
  src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
  url('../fonts/ProximaNova-ExtrabldItd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-ExtrabldIt.html') format('woff2'),
  url('../fonts/ProximaNova-ExtrabldIt.woff') format('woff'),
  url('../fonts/ProximaNova-ExtrabldIt-2.html') format('truetype'),
  url('../fonts/ProximaNova-ExtrabldIt.svg#ProximaNova-ExtrabldIt') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-BoldIt.eot');
  src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
  url('../fonts/ProximaNova-BoldItd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-BoldIt.html') format('woff2'),
  url('../fonts/ProximaNova-BoldIt.woff') format('woff'),
  url('../fonts/ProximaNova-BoldIt-2.html') format('truetype'),
  url('../fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src: url('../fonts/ProximaNova-ThinIt.eot');
  src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
  url('../fonts/ProximaNova-ThinItd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-ThinIt.html') format('woff2'),
  url('../fonts/ProximaNova-ThinIt.woff') format('woff'),
  url('../fonts/ProximaNova-ThinIt-2.html') format('truetype'),
  url('../fonts/ProximaNova-ThinIt.svg#ProximaNova-ThinIt') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-LightIt.eot');
  src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
  url('../fonts/ProximaNova-LightItd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-LightIt.html') format('woff2'),
  url('../fonts/ProximaNova-LightIt.woff') format('woff'),
  url('../fonts/ProximaNova-LightIt-2.html') format('truetype'),
  url('../fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../fonts/ProximaNova-BlackIt.eot');
  src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
  url('../fonts/ProximaNova-BlackItd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-BlackIt.html') format('woff2'),
  url('../fonts/ProximaNova-BlackIt.woff') format('woff'),
  url('../fonts/ProximaNova-BlackIt-2.html') format('truetype'),
  url('../fonts/ProximaNova-BlackIt.svg#ProximaNova-BlackIt') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('../fonts/ProximaNova-SemiboldIt.eot');
  src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
  url('../fonts/ProximaNova-SemiboldItd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-SemiboldIt.html') format('woff2'),
  url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'),
  url('../fonts/ProximaNova-SemiboldIt-2.html') format('truetype'),
  url('../fonts/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
  url('../fonts/ProximaNova-Boldd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.html') format('woff2'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold-2.html') format('truetype'),
  url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src: url('../fonts/ProximaNovaT-Thin.eot');
  src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
  url('../fonts/ProximaNovaT-Thind41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaT-Thin.html') format('woff2'),
  url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
  url('../fonts/ProximaNovaT-Thin-2.html') format('truetype'),
  url('../fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('../fonts/ProximaNova-Regulard41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.html') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular-2.html') format('truetype'),
  url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Alt Rg';
  src: url('../fonts/ProximaNovaA-Regular.eot');
  src: local('Proxima Nova Alt Regular'), local('ProximaNovaA-Regular'),
  url('../fonts/ProximaNovaA-Regulard41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaA-Regular.html') format('woff2'),
  url('../fonts/ProximaNovaA-Regular.woff') format('woff'),
  url('../fonts/ProximaNovaA-Regular-2.html') format('truetype'),
  url('../fonts/ProximaNovaA-Regular.svg#ProximaNovaA-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Th';
  src: url('../fonts/ProximaNova-Extrabld.eot');
  src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
  url('../fonts/ProximaNova-Extrabldd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Extrabld.html') format('woff2'),
  url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
  url('../fonts/ProximaNova-Extrabld-2.html') format('truetype'),
  url('../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../fonts/ProximaNova-Black.eot');
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
  url('../fonts/ProximaNova-Blackd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Black.html') format('woff2'),
  url('../fonts/ProximaNova-Black.woff') format('woff'),
  url('../fonts/ProximaNova-Black-2.html') format('truetype'),
  url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-RegularIt.eot');
  src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
  url('../fonts/ProximaNova-RegularItd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-RegularIt.html') format('woff2'),
  url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('../fonts/ProximaNova-RegularIt-2.html') format('truetype'),
  url('../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Alt Rg';
  src: url('../fonts/ProximaNovaA-Bold.eot');
  src: local('Proxima Nova Alt Bold'), local('ProximaNovaA-Bold'),
  url('../fonts/ProximaNovaA-Boldd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaA-Bold.html') format('woff2'),
  url('../fonts/ProximaNovaA-Bold.woff') format('woff'),
  url('../fonts/ProximaNovaA-Bold-2.html') format('truetype'),
  url('../fonts/ProximaNovaA-Bold.svg#ProximaNovaA-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

